<template>
  <div>
    <svg id="svg" :style="{ width: '100vw', height: '70vh' }">
      
      <defs v-if="directed">
        <marker id="marker"
                viewBox="0 0 10 10"
                refX="0" refY="5"
                orient="auto">
          <path d="M 0 0 L 10 5 L 0 10 z" />
        </marker>
      </defs>
      <rect
        @mouseup="setDrawingLine"
        :x="0"
        :y="0"
        width="100%"
        height="100%"
        fill='white'>
      </rect>

      <g v-for="item in this.links"
          class="links"
          :key="item.getKey()"
          :id="item.getKey()">
        <line
          :x1="item.source.x"
          :y1="item.source.y"
          :x2="(directed ? markerX(item) : item.target.x)"
          :y2="(directed ? markerY(item) : item.target.y)"
          @click="clickLink(item)"
          marker-end="url(#marker)"
          stroke="#000000"
          stroke-width="2px"
          fill="none">
        </line>

        <g v-if="weighted">
          <circle
            :cx="labelX(item)"
            :cy="labelY(item)"
            r="13"
            fill="white">
          </circle>
          <text
                class="noselect"
                @click="openEditWeightDialog(item)"
                :x="labelX(item)"
                :y="labelY(item)"
                text-anchor="middle"
                alignment-baseline="central"
          >{{ item.weight }}</text>
        </g>
      </g>

      <g v-for="item in this.nodes"
        class="nodes"
        @mouseover="mouseoverNode(item)"
        @click="clickNode(item)"
        @mousedown="startLinkDrawing(item)"
        @mouseup="stopLinkDrawing(item)"
        :key="item.value"
        :id="item.value">
        <circle r="14"
                :cx="item.x"
                :cy="item.y"
                :key="item.value + 'c'"
                :style="`fill: ${color.BASE_COLOR_NODE};`"
        />
        <text class="noselect"
          :x="item.x"
          :y="item.y"
          text-anchor="middle"
          alignment-baseline="central"
          :key="item.value + 't'"
        >{{ item.value }}</text>
      </g>
    </svg>
    <v-dialog v-model="this.dialog" persistent max-width="300px" max-height=100px>
      <v-card>
        <v-card-title>
          <span class="headline">Change Weight</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-text-field v-model="helpWeight" label="Weight"></v-text-field>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="editWeight">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import * as d3 from 'd3';
import GraphVertex from '../../algorithms/trekhleb/src/data-structures/graph/GraphVertex';
import GraphEdge from '../../algorithms/trekhleb/src/data-structures/graph/GraphEdge';
import nodeMixin from '../../mixins/nodeMixin';
import EventBus from '../../services/EventBus';
import GraphAction from '../../utils/GraphAction';
import color from '../../utils/Color';

export default {
  name: 'Network',
  mixins: [nodeMixin],
  props: {
    dsName: {
      type: String,
      required: true,
    },
    graph: {
      type: Object,
      required: true,
    },
    directed: {
      type: Boolean,
      required: true,
    },
    weighted: {
      type: Boolean,
      required: true,
    },
  },
  components: {
    // AdjacencyMatrix,
  },
  data() {
    return {
      force: null,
      nodes: null,
      links: [],
      drawingLine: false,
      startNode: null,
      selected: null,
      editingLink: null,
      dialog: false,
      algorithmRunning: false,
      elementsSelected: false,
      helpWeight: null, // used for weight change
      source: null, // used to create link between nodes
      animationFinished: false,
    };
  },
  methods: {
    editWeight() {
      this.resetGraph();
      this.dialog = false;
      this.editingLink.setWeight(this.helpWeight);
      this.editingLink = null;
      this.helpWeight = null;
    },
    openEditWeightDialog(link) {
      this.dialog = true;
      this.editingLink = link;
    },
    initGraph() {
      this.force = d3.forceSimulation(this.graph.getAllVertices())
        .force('charge', d3.forceManyBody().strength(-200))
        .force('collision', d3.forceCollide().radius(60))
        .force('center', d3.forceCenter(900 / 2, 500 / 2))
        .force('link', d3.forceLink().links(this.graph.getAllEdges()).id((item) => item.value));
    },
    updateGraph() {
      this.nodes = this.graph.getAllVertices();
      this.links = this.graph.getAllEdges();
    },
    setDrawingLine() {
      this.drawingLine = false;
    },
    addNode() {
      if (!this.drawingLine && !this.algorithmRunning) {
        this.resetGraph();
        const x = d3.event.pageX - document.getElementById('svg')
          .getBoundingClientRect().x;
        // adjust y position
        const y = d3.event.pageY - document.getElementById('svg')
          .getBoundingClientRect().y;

        const vertex = new GraphVertex(this.graph.nextChar());
        this.graph.addVertex(vertex);
        vertex.x = x;
        vertex.y = y;
        this.nodes.push(vertex);
        this.force.nodes(this.nodes);
      }
    },
    removeNode() {
      this.resetGraph();
      this.graph.deleteVertex(this.selected);
      this.updateGraph();
      this.selected = null;
    },
    addLink(link) {
      this.resetGraph();
      this.drawingLine = false;
      this.links.push(link);
      this.force.restart().alpha(0.01);
    },
    removeLink() {
      this.graph.deleteEdge(this.selected);
      this.updateGraph();
      this.selected = null;
    },
    clickNode(node) {
      if (this.selected !== node && this.selected !== null) {
        d3.select(`#${this.selected.value}`).style('fill', 'black');
      }
      this.selected = node;
      this.startNode = node;
      this.graph.setStartVertex(node);
      this.selected.type = 'node';
      d3.select(`#${node.value}`).style('fill', color.GRAPH_SELECTED_NODE);
    },
    clickLink(link) {
      this.selected = link;
      this.selected.type = 'link';
      d3.select(`#${link.getKey()}`).selectAll('line').style('stroke', color.GRAPH_SELECTED_LINK);
    },
    mouseoverNode(node) {
      // TODO: highlight node
    },
    startLinkDrawing(node) {
      if (!this.algorithmRunning) {
        this.drawingLine = true;
        this.source = node;
      }
    },
    stopLinkDrawing(node) {
      if (this.drawingLine && node.getKey() !== this.source.getKey()) {
        const link = new GraphEdge(this.source, node);
        this.graph.addEdge(link);
        this.addLink(link);
      }
      this.drawingLine = false;
    },
    labelX(link) {
      const xCenter = (link.source.x + link.target.x) / 2;

      return (xCenter + link.source.x) / 2;
    },
    labelY(link) {
      const yCenter = (link.source.y + link.target.y) / 2;

      return (yCenter + link.source.y) / 2;
    },
    markerX(link) {
      const ab = [link.target.x - link.source.x, link.target.y - link.source.y];
      const length = Math.sqrt((ab[0] ** 2) + (ab[1] ** 2));
      const abNorm = ab.map((item) => item / length);
      const distance = length - 30;

      return link.source.x + (distance * abNorm[0]);
    },
    markerY(link) {
      const ab = [link.target.x - link.source.x, link.target.y - link.source.y];
      const length = Math.sqrt((ab[0] ** 2) + (ab[1] ** 2));
      const abNorm = ab.map((item) => item / length);
      const distance = length - 30;

      return link.source.y + (distance * abNorm[1]);
    },
    initClickListeners() {
      window.addEventListener('keydown', (e) => {
        if (e.key === 'Backspace') {
          if (this.selected !== null) {
            switch (this.selected.type) {
              case 'node':
                this.removeNode();
                break;
              case 'link':
                this.removeLink();
                break;
              default:
                break;
            }
          }
        }
      });
      d3.selectAll('rect')
        .on('click', this.addNode);
    },
    animationStep(step) {
      this.elementsSelected = true;
      if (Array.isArray(step)) {
        step.map((item) => { 
          this.handleAction(item);
        });
      } else {
        this.handleAction(step);
      }
    },
    handleAction(action) {
      switch (action.action) {
        case GraphAction.HIGHLIGHT_LINK:
          this.highlightLink(action.elements, action.color);
          break;
        case GraphAction.HIGHLIGHT_NODE:
          this.highlightNode(action.elements, action.color);
          break;
        default:
          break;
      }
    },
    setAlgorithmRunning(value) {
      this.resetGraph();
      this.algorithmRunning = value;
    },
    setAlgorithmStopped() {
      this.algorithmRunning = false;
    },
    setAnmiationFinished() {
      this.animationFinished = true;
    },
    resetGraph() {
      if(this.animationFinished){
      if (this.elementsSelected) {
        this.clearNodes();
        this.clearLinks();
      }
      this.animationFinished = false;
    }
    },
  },
  created() {
    this.initGraph();
  },
  mounted() {
    this.updateGraph();
    this.initClickListeners();
    EventBus.$on('animationStep', this.animationStep);
    EventBus.$on('animationStarted', this.setAlgorithmRunning);
    EventBus.$on('animationStopped', this.setAlgorithmStopped);
    EventBus.$on('animationFinished',this.setAnmiationFinished);
  },
  beforeDestroy() {
    EventBus.$off('animationStep', this.animationStep);
    EventBus.$off('animationStarted', this.setAlgorithmRunning);
    EventBus.$off('animationStopped', this.setAlgorithmStopped);
    EventBus.$off('animationFinished',this.setAnmiationFinished);
  },
  computed: {
    color() {
      return color;
    },
  }
};
</script>

<style scoped>
  .noselect {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
  .nodes {
  }
  .links {
  }
</style>
