<template>
  <div class="expand-x-y">
    <div class="svg-container">
    <svg class="expand-x-y" id="wrapper">
      <path
        v-for="(item, i) in paths"
        class="trans"
        :key="i + 'p'"
        :d="item"
        :id="i"
        stroke="#000000"
        fill="none"
        stroke-width="2"
      />

      <g v-for="item in nodes"
         class="nodes"
         :key="item.value"
         :id="'N' + item.value">
         <circle r="16"
         class="trans"
         :cx="item.x"
         :cy="item.y"
         :style="`fill: ${Color.BASE_COLOR_NODE};`"
 />
        <text
          class="text"
          :x="item.x "
          :y="item.y"
          text-anchor="middle"
          alignment-baseline="central"
        >{{ item.value }}</text>
      </g>
    </svg>
  </div>
  <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      elevation="100"
      color="dark grey"
    >
      {{ infoMessage }}   
    </v-snackbar>
</div>
</template>

<script>
import * as d3 from 'd3';
import BinarySearchTree
  from '../../algorithms/trekhleb/src/data-structures/tree/binary-search-tree/BinarySearchTree';
import BinarySearchTreeNode
  from '../../algorithms/trekhleb/src/data-structures/tree/binary-search-tree/BinarySearchTreeNode';
import EventBus from '../../services/EventBus';
import TreeUtils from '../../utils/TreeUtils';
import nodeMixin from '../../mixins/nodeMixin';
import GraphAction from '../../utils/GraphAction';
import Color from '../../utils/Color';

export default {
  name: 'BinaryTree',
  mixins: [nodeMixin],
  props: {
    // tree: {
    //   type: Object,
    //   required: true,
    // },
  },
  data: () => ({
    tree:null,
    bst: null,
    algorithmRunning: false,
    nodes: null,
    paths: null,
    snackbar: false,
    timeout: 5000,
    infoMessage: '',
  }),
  mounted() {
    EventBus.$on('animationStep', this.animationStep);
    EventBus.$on('animationStarted', this.setAlgorithmRunning);
    EventBus.$on('animationStopped', this.setAlgorithmStopped);
    EventBus.$on('reloadDataStructure', this.updateTreeStructure);
    //this.links();
  },
  beforeDestroy() {
    EventBus.$off('animationStep', this.animationStep);
    EventBus.$off('animationStarted', this.setAlgorithmRunning);
    EventBus.$off('animationStopped', this.setAlgorithmStopped);
    EventBus.$off('reloadDataStructure', this.updateTreeStructure);
  },
  created() {
    // this.updateTreeStructure();
  },
  computed: { 
    Color() {
      return Color;
    },
  },
  methods: {
    links() {
      this.paths = this.bst.links()
        .map((edge) => {
          // eslint-disable-next-line no-restricted-globals
          if (isNaN(edge.source.value) || isNaN(edge.target.value)) {
            return;
          }
          // edge needs to be in array form
          const helpEdge = [edge.source, edge.target];
          const l = d3
            .line()
            .x((v) => v.x)
            .y((v) => v.y);
          // eslint-disable-next-line consistent-return
          return l(helpEdge);
        });
    },
    updateTreeStructure(root = 0) {
      // eslint-disable-next-line no-param-reassign
      root = root === 0 || undefined ? this.tree.root : root;
      // We need to change the default children accessor function to represent our data 
      if (root === undefined) {
        this.bst = null;
        this.nodes = null;
        this.paths = null;
        return;
      }
      const hierarchy = d3.hierarchy(root, (d) => {
        // children can't be null in d3 structure
        if (d.left === null && d.right === null) {
          return null;
        }

        // Nodes with only one child produce asymmetric child nodes
        const helpNode = new BinarySearchTreeNode('helperNode');
        if (d.left === null) {
          helpNode.parent = d.right.parent;
          return [helpNode, d.right];
        }
        if (d.right === null) {
          helpNode.parent = d.left.parent;
          return [d.left, helpNode];
        }
        return [d.left, d.right];
      });
      const divElement = document.getElementById('wrapper');
       // Replace '.your-div-class' with the actual class of your <div> element
  	  const divHeight = divElement.clientHeight;
      const divWidth = divElement.clientWidth;
      const treeLayout = d3.tree().size([divWidth, divHeight-50]);
      // treeLayout.size([500, 300]);
      this.bst = treeLayout(hierarchy);
      this.bst.descendants().forEach((item) => {
        // eslint-disable-next-line no-param-reassign
        // item.x += 550;
        // eslint-disable-next-line no-param-reassign
        item.y +=20;
      });
      // eslint-disable-next-line no-restricted-globals
      this.nodes = this.bst.descendants().filter((node) => !isNaN(node.value));
      this.links();
    },
    animationStep(action) {
      switch (action.action) {
        case GraphAction.HIGHLIGHT_NODE:
          this.highlightNode((`N${action.elements}`), action.color);
          break;
        case TreeUtils.UPDATE_TREE:
          this.tree = action.dataStructure;
          this.updateTreeStructure(action.elements);
          this.clearNodes();
          break;
        case TreeUtils.SWAP_NODE:
          this.swapNodes(action.elements[0].value, action.elements[1].value);
          this.clearNodes();
          break;
        case TreeUtils.DUPLICATE_NODE:
          this.duplicate(action);
          break;
        default:
      }
    },
    setAlgorithmRunning(value) {
      this.clearNodes();
      this.algorithmRunning = value;
    },
    setAlgorithmStopped(value) {
      this.clearNodes();
      this.algorithmRunning = value;
    },
    noop() {
      // do nothing
    },
    duplicate(action) {
      this.snackbar = true;
      this.infoMessage = action.text;
    },
    swapNodes(value1, value2) {
      const node1 = this.getNodeCoordinates(value1)[0];
      const node2 = this.getNodeCoordinates(value2)[0];

      // this.highlightNode((`N${node1.value}`), 'orange');
      // this.highlightNode((`N${node2.value}`), 'orange');

      const helpX = node1.x;
      const helpY = node1.y;

      node1.x = node2.x;
      node1.y = node2.y;

      node2.x = helpX;
      node2.y = helpY;
    },
    getNodeCoordinates(value) {
      return this.bst.descendants().filter((item) => item.value === value);
    },
  },
};
</script>

<style scoped>
  .expand-x-y {
    height: 100%;
    width: 100%;
  }
  .nodes {
  }
  .trans {
    transition-duration: 300ms;
  }
  .text {
    transform: translateX(0);
  }
  .svg-container {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
</style>
