<template>
  <div class="expand-x-y">
    <svg class="expand-x-y" id="wrapper">
      <path
        v-for="(item, i) in links"
        class="trans"
        :key="i + 'p'"
        :d="item"
        :id="i"
        stroke="#000000"
        fill="none"
        stroke-width="2"
      />

      <g v-for="item in nodes"
         class="nodes"
         :key="item.value"
         :id="item.data.getId()">
        <circle r="14"
                class="trans"
                :cx="item.x"
                :cy="item.y"
                :style="`fill: ${Color.BASE_COLOR_NODE};`"
        />
        <text
          :x="item.x"
          :y="item.y"
          text-anchor="middle"
          alignment-baseline="central"
        >{{ item.data.character }}</text>
      </g>
    </svg>
  </div>
</template>

<script>
import * as d3 from 'd3';
import GraphAction from '../../utils/GraphAction';
import TreeUtils from '../../utils/TreeUtils';
import EventBus from '../../services/EventBus';
import nodeMixin from '../../mixins/nodeMixin';
import Color from '../../utils/Color';


export default {
  name: 'PrefixTree',
  mixins: [nodeMixin],
  data: () => ({
    trieLayout: null,
    algorithmRunning: false,
    tree: null,
    links: [],
    nodes: [],
  }),
  mounted() {
    EventBus.$on('animationStep', this.animationStep);
    EventBus.$on('animationStarted', this.setAlgorithmRunning);
    EventBus.$on('animationStopped', this.setAlgorithmStopped);
    EventBus.$on('reloadDataStructure', this.updateTreeStructure);
  },
  beforeDestroy() {
    EventBus.$off('animationStep', this.animationStep);
    EventBus.$off('animationStarted', this.setAlgorithmRunning);
    EventBus.$off('animationStopped', this.setAlgorithmStopped);
    EventBus.$off('reloadDataStructure', this.updateTreeStructure);
  },
  computed: {
    Color() {
      return Color;
    },
  },
  methods: {
    addlinks(){
      this.links = this.trieLayout.links()
        .map((edge) => {
          const helpEdge = [edge.source, edge.target];
          const l = d3
            .line()
            .x((v) => v.x)
            .y((v) => v.y);
          // eslint-disable-next-line consistent-return
          return l(helpEdge);
        });
    },
    updateTreeStructure(root = 0) {
      // eslint-disable-next-line no-param-reassign
      root = root === 0 || undefined ? this.tree.head : root;
      if(root === undefined) return;
      const hierarchy = d3.hierarchy(root, (d) => d.getAllChildren());
      const divElement = document.getElementById('wrapper');
  	  const divHeight = divElement.clientHeight;
      const divWidth = divElement.clientWidth;
      const layout = d3.tree();
      layout.size([divWidth,divHeight-80]);
      this.trieLayout = layout(hierarchy);
      this.trieLayout.descendants().forEach((item) => {
        // eslint-disable-next-line no-param-reassign
        //item.x += 200;
        // eslint-disable-next-line no-param-reassign
        item.y += 50;
      });
      this.nodes= this.trieLayout.descendants();
      this.addlinks();
    },
    animationStep(action) {
      switch (action.action) {
        case GraphAction.HIGHLIGHT_NODE:
          this.highlightNode(action.elements, action.color);
          break;
        case TreeUtils.UPDATE_TREE:
          this.tree = action.dataStructure;
          this.updateTreeStructure(this.tree.head);
          this.clearNodes();
          break;
        default:
      }
    },
    setAlgorithmRunning(value) {
      this.clearNodes();
      this.algorithmRunning = value;
    },
    setAlgorithmStopped(value) {
      this.algorithmRunning = value;
    },
  },
};
</script>

<style scoped>
  .expand-x-y {
    height: 100%;
    width: 100%;
  }
  .nodes{
  }
  .trans {
    transition-duration: 300ms;
  }
</style>
