<template>
  <div class="expand-x-y" id="wrapper">
    <svg class="expand-x-y" :style="{ height: svgHeight + 'px' }">
      <defs>
        <marker id="arrowHead" refX="10" refY="3" markerWidth="20" markerHeight="20" orient="auto">
          <path d="M0,0 L0,5 L10,2.5 z" fill="#000" />
        </marker>
      </defs>
      <g v-for="(row, rowIndex) in rows" :key="rowIndex">
        <!-- First Column -->
        <rect
          :x="xScale(rowIndex)"
          :y="yScale(rowIndex)"
          :width="cellWidth"
          :height="cellHeight"
          :style="`fill: ${row.color};
            stroke: black;
            transition-duration: ${transitionDuration}ms;`"
        />
        <!-- Text left next to the table-->
        <text
          :x="xScaleTextNextToBox(rowIndex)"
          :y="yScaleText(rowIndex)"
          :style="`text-anchor: end;
            fill: #333333;
            font-family: Roboto, sans-serif;
            transform: translate(0px, 0px);
            transition-duration: ${transitionDuration}ms;
            alignment-baseline: middle;`"
        >{{ row.hash }}
        </text>

        <!-- Text within the rectangle representing the value of the current line -->
        <text
          :x="xScaleText(rowIndex)"
          :y="yScaleText(rowIndex)"
          :style="`text-anchor: end;
            fill: #333333;
            font-family: Roboto, sans-serif;
            transform: translate(0px, 0px);
            transition-duration: ${transitionDuration}ms;
            alignment-baseline: middle;`"
        >{{ row.value }}
        </text>


        <!-- Second Column -->
        <rect
          :x="xScaleSecondColumn(rowIndex)+cellWidth"
          :y="yScale(rowIndex)"
          :width="cellWidth-15"
          :height="cellHeight"
          :style="`fill: ${row.color};
            stroke: black;
            transition-duration: ${transitionDuration}ms;`"
        />
        <!-- Links to other addresses - second column text -->
        <text
          :x="xScaleTextSecondColumn(rowIndex)-15"
          :y="yScaleText(rowIndex)"
          :style="`text-anchor: end;
            fill: #333333;
            font-family: Roboto, sans-serif;
            transform: translate(0px, 0px);
            transition-duration: ${transitionDuration}ms;
            alignment-baseline: middle;`"
        >{{ processLink(row.link) }}
        </text>
        <path
          v-if="row.link !== undefined"
          :d="`M ${xScaleArrow(rowIndex)} ${yScaleText(rowIndex)} q  300, ${(yScaleText(row.link) - yScaleText(rowIndex)) / 2} 0, ${(yScaleText(row.link) - yScaleText(rowIndex))}`"
          :style="`fill: none; stroke: ${row.linkColor}; marker-end: url(#arrowHead); stroke-width: 2px;`"
        />
      </g>
      <g v-for="(cellarRow, cellarRowIndex) in cellar" :key="'cellar_'+cellarRowIndex">
        <!-- First Column for Cellar -->
        <rect
          :x="xScale(cellarRowIndex)"
          :y="yScaleCellar(cellarRowIndex)"
          :width="cellWidth"
          :height="cellHeight"
          :style="`fill: ${cellarRow.color}; stroke: black; transition-duration: ${transitionDuration}ms;`"
        />
        <!-- Text für den Keller -->
        <text
          :x="xScaleText(cellarRowIndex)"
          :y="yScaleTextCellar(cellarRowIndex)"
          :style="`text-anchor: end; fill: #333333; font-family: Roboto, sans-serif;
      transform: translate(0px, 0px); transition-duration: ${transitionDuration}ms; alignment-baseline: middle;`"
        >{{ cellarRow.value }}
        </text>

        <!-- Zweite Spalte für Keller -->
        <rect
          :x="xScaleSecondColumn(cellarRowIndex) + cellWidth"
          :y="yScaleCellar(cellarRowIndex)"
          :width="cellWidth-15"
          :height="cellHeight"
          :style="`fill: ${cellarRow.color}; stroke: black; transition-duration: ${transitionDuration}ms;`"
        />
        <!-- Text für den Keller in der zweiten Spalte -->
        <text
          :x="xScaleTextSecondColumn(cellarRowIndex)-15"
          :y="yScaleTextCellar(cellarRowIndex)"
          :style="`text-anchor: end; fill: #333333; font-family: Roboto, sans-serif;
      transform: translate(0px, 0px); transition-duration: ${transitionDuration}ms; alignment-baseline: middle;`"
        >{{ processLink(cellarRow.link) }}
        </text>

        <!-- Text left next to the table-->
        <text
          :x="xScaleTextNextToBox(cellarRowIndex)"
          :y="yScaleTextCellar(cellarRowIndex)"
          :style="`text-anchor: end;
            fill: #333333;
            font-family: Roboto, sans-serif;
            transform: translate(0px, 0px);
            transition-duration: ${transitionDuration}ms;
            alignment-baseline: middle;`"
        >{{ "K " + cellarRowIndex }}
        </text>
        <path
          v-if="cellarRow.link !== undefined"
          :d="`M ${xScaleArrow(cellarRowIndex)} ${yScaleTextCellar(cellarRowIndex)} q 100, ${(yScaleText(cellarRow.link) - yScaleTextCellar(cellarRowIndex)) / 2} 0, ${(yScaleText(cellarRow.link) - yScaleTextCellar(cellarRowIndex))}`"
          :style="`fill: none; stroke: ${cellarRow.linkColor}; marker-end: url(#arrowHead); stroke-width: 2px;`"
        />


      </g>

    </svg>
    <v-snackbar
      v-model="snackbar"
      elevation="100"
      color="dark grey"
    >
      {{ infoMessage }}
    </v-snackbar>
  </div>
</template>


<script>
import EventBus from '../../services/EventBus';
import Color from '../../utils/Color';

export default {
  name: 'HashTableCoalescedHashing',
  data: () => ({
    // Data properties for hash table
    svgWidth: 0,
    svgHeight: 0,
    cellWidth: 50,
    cellHeight: 30,
    horizontalGap: 40,
    transitionDuration: 300,
    rows: [],
    cellar: [],
    distanceToTop: 50,
    infoMessage: '',
    snackbar: false,
    colorMap: new Map(),
  }),
  // Lifecycle hook: executed after the component has been added to the DOM
  mounted() {
    this.addResizeListener();
    this.resize();

    // ControlBar events
    EventBus.$on('controlZoomIn', this.zoomIn);
    EventBus.$on('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$on('animationStep', this.animationStep);
  },
  // Lifecycle hook: executed just before a component is destroyed
  destroyed() {
    this.removeResizeListener();

    EventBus.$off('controlZoomIn', this.zoomIn);
    EventBus.$off('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$off('animationStep', this.animationStep);
  },
  methods: {
    // Add event listener for window resize
    addResizeListener() {
      window.addEventListener('resize', this.resize);
    },
    // Remove event listener for window resize
    removeResizeListener() {
      window.removeEventListener('resize', this.resize);
    },
    // Resize method to update SVG dimensions
    resize() {

      setTimeout(() => {
        this.$data.svgWidth = document.getElementById('wrapper').offsetWidth;
        this.$data.svgHeight = document.getElementById('wrapper').offsetHeight;
      }, 5);
    },
    // Placeholder for zoom in method
    zoomIn() {
    },
    // Placeholder for zoom out method
    zoomOut() {
    },
    // Handle animation steps received through EventBus
    animationStep(step) {
      step.forEach((action) => {
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        }
      });
    },
    // Method to create a list of rows in the hash table
    createList(action) {
      this.rows.length = 0;
      for (let i = 0; i < action.rows; i += 1) {
        this.rows.push({
          value: null,
          color: Color.BASE_COLOR_HASH_TABLE,
          bucket: [],
        });
        this.$data.svgHeight = (this.rows.length + this.cellar.length) * this.cellHeight + this.distanceToTop;
      }
      this.initColorMap();
    },
    setCellarSize(action) {
      this.cellar = [];
      for (let i = 0; i < action.cellar; i += 1) {
        this.cellar.push({
          value: null,
          color: Color.BASE_COLOR_HASH_TABLE_CELLAR,
          bucket: [],
        });
        this.$data.svgHeight = (this.rows.length + this.cellar.length) * this.cellHeight + this.distanceToTop;
      }

    },
    // Method to delete the list of rows in the hash table
    deleteList(action) {
      this.rows.length = 0;
    },
    // Method to insert a value at a specific position in a row's bucket
    insertValueAtPos(action) {
      if (action.row >= this.rows.length) {
        this.cellar[action.row - this.rows.length].value = action.value;
      } else {
        //row is in upper part
        this.rows[action.row].value = action.value;
      }
      if (action.previous >= this.rows.length) {
        //previous has been in cellar
        this.cellar[action.previous - this.rows.length].link = action.row;
        this.cellar[action.previous - this.rows.length].linkColor = this.colorMap.get(this.hash(action.value));
      } else {
        //previous has been in upper part
        if (action.previous !== undefined) {
          this.rows[action.previous].link = action.row;
          this.rows[action.previous].linkColor = this.colorMap.get(this.hash(action.value));
        }
      }
      this.$forceUpdate()
    },
    // Method to remove a value at a specific position from a row's bucket
    removeValueAtPos(action) {
      if (action.row >= this.rows.length) {
        this.cellar[action.row - this.rows.length].value = action.value;
        this.cellar[action.row - this.rows.length].link = undefined;
      } else {
        this.rows[action.row].value = action.value;
        this.rows[action.row].link = undefined;
      }

      if (action.previous >= this.rows.length) {
        this.cellar[action.previous - this.rows.length].link = undefined;
      } else {
        if (action.previous !== undefined) {
          this.rows[action.previous].link = undefined;
        }
      }
    },
    removeLinkAtPos(action) {
      this.rows[action.row].link = action.link;
      this.$forceUpdate();
    },
    updateLinkAtPos(action) {
      if (action.row >= this.rows.length) {
        this.cellar[action.row].link = action.link
        this.cellar[action.row].linkColor = this.colorMap.get(this.hash(action.value));
      } else {
        this.rows[action.row].link = action.link;
        this.rows[action.row].linkColor = this.colorMap.get(this.hash(action.value));
      }
      this.$forceUpdate()
    },
    // Method to set the value of a specific row
    setRowValue(action) {
      this.rows[action.row].hash = action.hash;
      this.rows[action.row].value = action.value;
      this.rows[action.row].link = action.link;
    },
    // Method to set the color of a specific row
    setRowColor(action) {
      if (action.row >= this.rows.length) {
        this.cellar[action.row - this.rows.length].color = action.color;
      } else {
        this.rows[action.row].color = action.color;
      }
    },
    // Method to set the color of a specific cell (element in a bucket)
    setCellColor(action) {
      this.rows[action.row].bucket[action.col].color = action.color;
    },
    // Method to set the stroke width of a specific cell (element in a bucket)
    setCellStrokeWidth(action) {
      this.rows[action.row].bucket[action.col].strokeWidth = action.value;
    },
    setTableFull(action) {
      this.infoMessage = action.text;
      this.snackbar = true;
    },
    unsetTableFull() {
      this.snackbar = false;
    },
    initColorMap() {
      const colors =
        ['#B3B31A', '#66664D', '#126688',
          '#4D8066', '#004E0B', '#F89A00',
          '#CC9999', '#FF1A66', '#970397',
          '#10A8D8', '#B33300', '#991AFF',
          '#452D09', '#760000', '#6666FF',
          '#1AFF33', '#E666B3', '#219A00',
          '#4E004E', '#9A0000', '#FFCC00',


        ]
      ;

      for (let i = 0; i < this.rows.length; i++) {
        const color = colors[i];
        this.colorMap.set(i, color);
      }
    },
    hash(value) {
      return value % this.rows.length;
    },
  },
  computed: {
// Compute xScale for positioning elements horizontally in the hash table
    xScale() {
      return (rowIndex, colIndex = null) => {
        const numElementsInBiggestBucket = Math.max(...this.rows.map((r) => r.bucket.length));
        const bucketsWidth = numElementsInBiggestBucket * this.cellWidth;
        const tableWidth = this.cellWidth + this.horizontalGap + bucketsWidth;

        if (colIndex === null) {
          return (this.svgWidth - tableWidth) / 2;
        }

        return (this.svgWidth - tableWidth) / 2
          + this.cellWidth + this.horizontalGap
          + colIndex * 50;
      };
    },
    xScaleSecondColumn() {
      return (rowIndex, colIndex = null) => {
        const numElementsInBiggestBucket = Math.max(...this.rows.map((r) => r.bucket.length));
        const bucketsWidth = numElementsInBiggestBucket * this.cellWidth;
        const tableWidth = this.cellWidth + this.horizontalGap + bucketsWidth;

        if (colIndex === null) {
          return (this.svgWidth - tableWidth) / 2;
        }

        return (this.svgWidth - tableWidth) / 2
          + this.cellWidth + this.horizontalGap
          + colIndex * 50;
      };
    },

// Compute yScale for positioning elements vertically in the hash table
    yScale() {
      return (rowIndex) => {
        //const tableHeight = this.rows.length * this.cellHeight;
        //const tablePos = (this.svgHeight - tableHeight) / 2;
        return rowIndex * this.cellHeight + this.distanceToTop;
      };
    },
    yScaleCellar() {
      return (cellarRowIndex) => {
        const currentTableHeight = (this.rows.length + cellarRowIndex) * this.cellHeight;
        //const tablePos = (this.svgHeight - tableHeight)/2;
        return currentTableHeight + this.distanceToTop;
      };
    },

//Text be placed left next to rectangle
    xScaleTextNextToBox() {
      return (rowIndex, colIndex = null) => this.xScale(rowIndex, colIndex) + this.cellWidth - 55;
    },
// Compute xScaleText for positioning text horizontally in the hash table
    xScaleText() {
      return (rowIndex, colIndex = null) => this.xScale(rowIndex, colIndex) + this.cellWidth - 5;
    },
    xScaleTextSecondColumn() {
      return (rowIndex, colIndex = null) => this.xScale(rowIndex, colIndex) + this.cellWidth + 45;
    },
    xScaleArrow() {
      return (rowIndex, colIndex = null) => this.xScale(rowIndex, colIndex) + this.cellWidth + 45;
    },
// Compute yScaleText for positioning text vertically in the hash table
    yScaleText() {
      return (rowIndex) => this.yScale(rowIndex) + this.cellHeight / 2;
    },
    yScaleTextCellar() {
      return (rowIndex) => this.yScaleCellar(rowIndex) + this.cellHeight / 2;
    },
// Compute line for drawing lines connecting rows to their buckets
    line() {
      return (from, to) => ({
        x1: this.xScale(from) + this.cellWidth,
        y1: this.yScale(from) + this.cellHeight / 2,
        x2: this.xScale(from, 0),
        y2: this.yScale(to) + this.cellHeight / 2,
      });
    },
    processLink() {
      return (link) => {
        if (this.$data.rows[link] !== undefined) {
          return link;
        } else {
          if (this.$data.cellar[link - this.$data.rows.length] !== undefined) {
            return "K" + (link - this.$data.rows.length);
          }
        }
      }
    }
  }
  ,
}
;
</script>

<style scoped>
.expand-x-y {
  height: 100%;
  width: 100%;
}
</style>
