<template>
  <div class="expand-x-y">
    <div class="svg-container" id="wrapper" @mousemove="updatePosition">
      <svg class="expand-x-y" :style="{ height: svgHeight + 'px', width: svgWidth + 'px'}">
        <defs>
          <marker id="arrowHead" refX="12" refY="6" markerWidth="30" markerHeight="30"
                  orient="auto">
            <path d="M 0 0 12 6 0 12 3 6" style="fill: black;"></path>
          </marker>
        </defs>

        //indexSize (number of Blocks needed)
        <g v-for="(indexSize, indexSizeIndex) in indexSizes" :key="indexSizeIndex">
          //representing one block
          <text
            :x="xScaleIndexDescription(indexSizeIndex)"
            :y="yScaleIndexDescription()"
            :style="`text-anchor: end;
            fill: red;
            font-family: Roboto, sans-serif;
            transform: translate(0px, 0px);
            transition-duration: ${transitionDuration}ms;
            alignment-baseline: middle;`"
          >{{ indexSize.description }}
          </text>
          //Text of Each Index Block
          //entrySize (for each entry)
          <g v-for="(entryDepth, entryDepthIndex) in indexSize.entrySizesForIndex"
             :key="entryDepthIndex">
            <!--First Row-->
            <text
              :x="xScaleEntryDescription(indexSizeIndex)"
              :y="yScaleEntryDescription(entryDepthIndex)"
              :style="`text-anchor: end;
          fill: dodgerblue;
          font-family: Roboto, sans-serif;
          transform: translate(0px, 0px);
          transition-duration: ${transitionDuration}ms;
          alignment-baseline: middle;`"
            >{{ entryDepth.description }}
            </text>
            //Text of Entry Row

            <rect
              :x="xScaleEntryBlock(indexSizeIndex)"
              :y="yScaleEntryBlock(entryDepthIndex)"
              :width="cellWidth"
              :height="cellHeight"
              :style="`fill: ${entryDepth.color};
            stroke: black;
            transition-duration: ${transitionDuration}ms;`"/>

            //First Rect of Entry Row
            <rect
              :x="xScaleEntryBlock(indexSizeIndex)"
              :y="yScaleEntryBlock(entryDepthIndex)"
              :width="cellWidthSecondRow"
              :height="cellHeight"
              :style="`fill: ${entryDepth.color};
            stroke: black;
            transition-duration: ${transitionDuration}ms;`"/>
            <text
              :x="xScaleEntryValue(indexSizeIndex)"
              :y="yScaleEntryDescription(entryDepthIndex)"
              :style="`text-anchor: end;
          fill: #333333;
          font-family: Roboto, sans-serif;
          transform: translate(0px, 0px);
          transition-duration: ${transitionDuration}ms;
          alignment-baseline: middle;`"
            >{{ entryDepth.value }}
            </text>
            //Second Rect of Entry Row
            //blockSize
            <g v-for="(blockSize, blockSizeIndex) in entryDepth.bucketSizesForEntryDepth"
               :key="blockSizeIndex">
              <g v-for="(blockRow, blockRowIndex) in blockSize.bucketRows"
                 :key="blockRowIndex">

                <rect
                  :x="xScaleBlockRow(blockSizeIndex, entryDepthIndex, indexSizeIndex)"
                  :y="yScaleBlockRow(blockRowIndex, entryDepthIndex, indexSizeIndex)"
                  :width="cellWidthBuckets"
                  :height="cellHeight"
                  :style="`fill: ${blockRow.color};
             stroke: black;
             transition-duration: ${transitionDuration}ms;`"
                  @mouseover="showBinaryValue(blockRow.value)"
                  @mouseleave="hoveredValue = null"
                />
                <text
                  :x="xScaleBlockRowValue(blockSizeIndex, entryDepthIndex, indexSizeIndex)"
                  :y="yScaleBlockRowValue(blockRowIndex, entryDepthIndex, indexSizeIndex)"
                  style="text-anchor: end;"
                > {{ blockRow.value !== null ? blockRow.value : '' }}
                </text>

                <text
                  v-if="blockSizeIndex === 0 && blockSize.bucketRows.length > 1"
                  :x="xScaleBlockDescription(blockSizeIndex, entryDepthIndex, indexSizeIndex)"
                  :y="yScaleBlockDescription(blockRowIndex, entryDepthIndex, indexSizeIndex)"
                  style="text-anchor: end; fill: limegreen;"
                >{{
                    blockRowIndex.toString(2).padStart(Math.ceil(Math.log2(blockSize.bucketRows.length - 1)), '0')
                  }}
                </text>
                <line
                  v-if="blockSizeIndex===0 && blockRowIndex===0"
                  :x1="xScaleEntryBlock(indexSizeIndex)"
                  :y1="yScaleArrowBegin(entryDepthIndex)"
                  :x2="xScaleBlockRow(blockSizeIndex, entryDepthIndex, indexSizeIndex)"
                  :y2="yScaleArrowEnd(blockRowIndex, entryDepthIndex, indexSizeIndex)"
                  stroke-dasharray="5 3"
                  style="stroke:black;stroke-width:1"
                />
              </g>
              <!--<line x1="xScaleEntryBlock(indexSizeIndex)" y1="yScaleEntryBlock(entryDepthIndex)"
                    x2="600" y2="30" stroke="black" stroke-width="1"/>-->
            </g>
          </g>

        </g>
      </svg>
      <div v-if="hoveredValue !== null"
           :style="{ top: mouseY + 'px', left: mouseX + 'px', position: 'absolute' }">
        <div class="hovered-value-container">
          0b{{ hoveredValue }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as d3 from 'd3';
import EventBus from '../../services/EventBus';
import Color from '../../utils/Color';

export default {
  name: 'HashTableBISEH',
  data: () => ({
    svgWidth: 0,
    svgHeight: 0,
    cellWidth: 50,
    cellWidthBuckets: 30,
    cellWidthSecondRow: 30,
    cellHeight: 30,
    horizontalGap: 40,
    transitionDuration: 300,
    indexSizes: [],
    entrySize: 0,
    rows: [],
    blockSize: 0,
    distanceToTop: 50,
    infoMessage: '',
    hoveredValue: null,
    mouseX: 0,
    mouseY: 0,
    textHeight: 30,
    entrySizeYStart: 0,
    entrySizeYEnd: 0,
    upperHalfBlocks: [],
    lowerHalfBlocks: [],
  }),
  mounted() {

    // ControlBar events
    EventBus.$on('controlZoomIn', this.zoomIn);
    EventBus.$on('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$on('animationStep', this.animationStep);
  },
  destroyed() {
    EventBus.$off('controlZoomIn', this.zoomIn);
    EventBus.$off('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$off('animationStep', this.animationStep);
  },
  methods: {
    initializeSize() {
      this.$data.svgWidth = document.getElementById('wrapper').offsetWidth;
      this.$data.svgHeight = document.getElementById('wrapper').offsetHeight;
    },
    zoomIn() {
    },
    // Placeholder for zoom out method
    zoomOut() {
    },
    // Handle animation steps received through EventBus
    animationStep(step) {
      step.forEach((action) => {
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        }
      });
    },
    createList(action) {
      this.$data.svgHeight = 500;
      this.$data.entrySizeYEnd = 0;
      this.$data.entrySizeYStart = 0;
      this.indexSizes.length = 0;
      this.entrySize = action.entryDepth;
      this.blockSize = action.bucketSize;
      for (let i = 0; i < 2 ** (action.indexDepth); i++) {
        this.svgWidth += this.cellWidth * 3 ;

        let entrySizesForIndex = [];
        for (let j = 0; j < 2 ** (action.entryDepth); j++) {
          if (i === 0) {
            this.svgHeight += this.cellHeight;
          }

          let binaryRepresentation = j.toString(2).padStart(action.entryDepth, '0');
          let bucketSizesForEntryDepth = [];

          entrySizesForIndex.push({
            description: binaryRepresentation,
            value: 0,
            color: Color.BASE_COLOR_HASH_TABLE,
            bucketSizesForEntryDepth: bucketSizesForEntryDepth,
          });

        }

        let binaryRepresentation = i.toString(2).padStart(action.indexDepth, '0');
        this.indexSizes.push({
          description: binaryRepresentation,
          color: Color.BASE_COLOR_HASH_TABLE,
          entrySizesForIndex: entrySizesForIndex,
        });

      }
      this.sortVisibleBlocks();
    },
    sortVisibleBlocks() {
      let lowerHelperList = [];
      let upperHelperList = [];
      for (let indexSize = 0; indexSize < this.indexSizes.length; indexSize++) {
        for (let entryDepth = 0; entryDepth < this.indexSizes[indexSize].entrySizesForIndex.length; entryDepth++) {
          if (((2 ** (this.entrySize) / 2)) >= (entryDepth + 1)) {
            upperHelperList.push({
              indexSize: indexSize,
              entryDepth: entryDepth,
            })
          } else {
            lowerHelperList.push({
              indexSize: indexSize,
              entryDepth: entryDepth,
            })
          }
        }
      }

      upperHelperList.sort((a, b) => {
        if (a.indexSize !== b.indexSize) {
          return a.indexSize - b.indexSize;
        } else if (a.entryDepth !== b.entryDepth) {
          return a.entryDepth - b.entryDepth;
        } else {
          return a.bucketSize - b.bucketSize;
        }
      });
      lowerHelperList.sort((a, b) => {
        if (a.indexSize !== b.indexSize) {
          return a.indexSize - b.indexSize;
        } else if (a.entryDepth !== b.entryDepth) {
          return a.entryDepth - b.entryDepth;
        } else {
          return a.bucketSize - b.bucketSize;
        }
      });
      this.upperHalfBlocks = upperHelperList;
      this.lowerHalfBlocks = lowerHelperList;
    },

    addColumns(action) {
      let entry = this.findEntry(action.index, action.entry);
      this.removeAllValues(entry);
      entry.value++;
      let binaryRepresentation = entry.description;

      if (entry.bucketSizesForEntryDepth.length === 0) { //no value has been inserted so far to this entry
        let description = binaryRepresentation.slice(-1);
        for (let i = 0; i < this.$data.blockSize; i++) { //iterate through block column
          let bucketRowsForBuckets = [];
          entry.bucketSizesForEntryDepth.push({
            description: description,
            value: 0,
            color: Color.BASE_COLOR_HASH_TABLE,
            bucketRows: bucketRowsForBuckets,
          })
        }
        this.svgHeight += 100;
        this.svgWidth += this.cellWidth * 3;
      }

      //iterate through the cols
      for (let i = 0; i < entry.bucketSizesForEntryDepth.length; i++) {
        let bucket = entry.bucketSizesForEntryDepth[i];
        const split = entry.value;
        const newRows = Math.pow(2, split - 1);

        for (let j = 0; j < newRows; j++) { //iterate through each row
          let binaryCombination = this.getBinaryCombination(j, split - 1);
          if (bucket.bucketRows[j] === undefined) { //row is new
            this.svgHeight += (this.$data.cellHeight);
            bucket.bucketRows.push({
              description: binaryCombination,
              value: null,
              color: Color.BASE_COLOR_HASH_TABLE,
            });
          } else {
            bucket.bucketRows[j].description = binaryCombination;
          }
        }


      }

      this.$forceUpdate();
    },
    insertValueAtPos(action) {
      let bucketCell = this.findBucketCell(action.index, action.entry, action.col, action.row);
      bucketCell.value = action.value;
      this.$forceUpdate();
    },

    getBinaryCombination(number, length) {
      let binary = number.toString(2);
      while (binary.length < length) {
        binary = '0' + binary;
      }
      return binary;
    },


    removeColumns(action) {
      let entry = this.findEntry(action.index, action.entry);
      entry.bucketSizesForEntryDepth = [];
      for (const bucketCol of action.entryBlock.bucketsForEntry) {
        const bucketRows = [];
        for (const bucketRow of bucketCol.rowForBuckets) {
          bucketRows.push({
            description: bucketRow.description,
            value: bucketRow.value,
          });
        }
        entry.bucketSizesForEntryDepth.push({
          description: bucketCol.description,
          value: bucketCol.value,
          color: Color.BASE_COLOR_HASH_TABLE,
          bucketRows: bucketRows,
        })
      }
      entry.value--;
      this.$forceUpdate();
    },
    removeValueAtPos(action) {
      let bucketCell = this.findBucketCell(action.index, action.entry, action.col, action.row);
      bucketCell.value = null;
      this.$forceUpdate();
    },

    highlightIndex(action) {
      const entries = this.$data.indexSizes[action.index].entrySizesForIndex;

      const originalColors = entries.map(entry => entry.color);

      for (const entry of entries) {
        entry.color = action.color;
      }
      this.$forceUpdate();

      setTimeout(() => {
        entries.forEach((entry, index) => {
          entry.color = originalColors[index];
        });
        this.$forceUpdate();
      }, 500);
    },
    highlightEntry(action) {
      setTimeout(() => {
        const entry = this.findEntry(action.index, action.entry);
        const originalColor = entry.color;
        entry.color = action.color;
        this.$forceUpdate();

        setTimeout(() => {
          entry.color = originalColor;
          this.$forceUpdate();
        }, 500);
      }, 500);
    },
    highlightBucketRow(action) {
      const entry = this.findEntry(action.index, action.entry);
      let orginalColors = [];
      for (const bucketCol of entry.bucketSizesForEntryDepth) {
        orginalColors.push(bucketCol.bucketRows[action.row].color);
        bucketCol.bucketRows[action.row].color = action.color;
      }

      this.$forceUpdate();

      setTimeout(() => {
        for (let i = 0; i < entry.bucketSizesForEntryDepth.length; i++) {
          entry.bucketSizesForEntryDepth[i].bucketRows[action.row].color = orginalColors[i];
        }
        this.$forceUpdate();
      }, 500);
    },

    highlightCell(action) {
      setTimeout(() => {
        const bucketCell = this.findBucketCell(action.index, action.entry, action.col, action.row);
        const originalColor = bucketCell.color;
        bucketCell.color = action.color;
        this.$forceUpdate();

        setTimeout(() => {
          bucketCell.color = Color.BASE_COLOR_HASH_TABLE;
          this.$forceUpdate();
        }, 1000);
      }, 1000);
    },
    setCellColor(action) {
      setTimeout(() => {
        const bucketCell = this.findBucketCell(action.index, action.entry, action.col, action.row);
        const originalColor = bucketCell.color;
        bucketCell.color = action.color;
        this.$forceUpdate();

        setTimeout(() => {
          bucketCell.color = originalColor;
          this.$forceUpdate();
        }, 500);
      }, 500);
    },
    findIndex(index) {
      for (let i = 0; i < this.$data.indexSizes.length; i++) {
        if (this.$data.indexSizes[i].description === index) {
          return this.$data.indexSizes[i];
        }
      }
    },
    findEntry(index, entry) {
      let indexBlock = this.findIndex(index);
      for (let i = 0; i < indexBlock.entrySizesForIndex.length; i++) {
        if (indexBlock.entrySizesForIndex[i].description === entry) {
          return indexBlock.entrySizesForIndex[i];
        }
      }
    },
    findBucket(index, entry, bucketCol) {
      let entryBlock = this.findEntry(index, entry);
      return entryBlock.bucketSizesForEntryDepth[bucketCol];

    },
    findBucketCell(index, entry, bucketCol, bucketRow) {
      let bucket = this.findBucket(index, entry, bucketCol);
      const descRow = parseInt(bucketRow, 2);
      return bucket.bucketRows[descRow];
    },
    removeAllValues(entry) {
      for (const bucket of entry.bucketSizesForEntryDepth) {
        for (const row of bucket.bucketRows) {
          row.value = null;
        }
      }
    },
    setTableFull(action) {
      this.$forceUpdate();
    },
    unsetTableFull() {

    },
    resetColors(action) {
      for (const index of this.$data.indexSizes) {
        index.color = Color.BASE_COLOR_HASH_TABLE;
        for (const entry of index.entrySizesForIndex) {
          entry.color = Color.BASE_COLOR_HASH_TABLE;
          for (const bucket of entry.bucketSizesForEntryDepth) {
            bucket.color = Color.BASE_COLOR_HASH_TABLE;
            for (const row of bucket.bucketRows) {
              row.color = Color.BASE_COLOR_HASH_TABLE;
            }
          }
        }
      }
      this.$forceUpdate();
    },
    showBinaryValue(value) {
      this.hoveredValue = value !== null ? value.toString(2) : null;
    },
    updatePosition(event) {
      this.mouseX = event.clientX + 30;
      this.mouseY = event.clientY - 70;
    },
  },
  computed: {
    xScaleEntryBlock() {
      return (indexSizeIndex) => {
        const horizontalSpacing = 100;
        const tableWidth = this.cellWidth + this.horizontalGap;
        const xScaleResult = indexSizeIndex * (this.cellWidth + horizontalSpacing) + tableWidth;
        if (xScaleResult < this.$data.svgWidth) {
          //this.$data.svgWidth = xScaleResult + this.cellWidth * 2 + 100;
        }
        return xScaleResult;
      };
    },
    xScaleEntryValue() {
      return (indexSizeIndex) => {
        const horizontalSpacing = 100;
        const horizontalShiftInBlock = 25;
        const tableWidth = this.cellWidth + this.horizontalGap + horizontalShiftInBlock;
        const xScaleResult = indexSizeIndex * (this.cellWidth + horizontalSpacing) + tableWidth;
        return xScaleResult;
      };
    },
    xScaleBlockRow() {
      return (blockSizeIndex, entryDepthIndex, indexSizeIndex) => {
        const horizontalSpacing = 30;
        const oneBucketBlock = this.$data.blockSize * this.cellWidthBuckets;
        const multiplicator = this.multiplication(indexSizeIndex, entryDepthIndex, blockSizeIndex);
        const xScaleResult = (blockSizeIndex + 1) * (this.cellWidthBuckets) + (horizontalSpacing + oneBucketBlock) * this.multiplication(indexSizeIndex, entryDepthIndex, blockSizeIndex) + horizontalSpacing;
        return xScaleResult;
      };
    },
    xScaleBlockRowValue() {
      return (blockSizeIndex, entryDepthIndex, indexSizeIndex) => {
        const horizontalSpacing = 30;
        const oneBucketBlock = this.$data.blockSize * this.cellWidthBuckets;
        const multiplicator = this.multiplication(indexSizeIndex, entryDepthIndex, blockSizeIndex);
        const xScaleResult = (blockSizeIndex + 1) * (this.cellWidthBuckets) + (horizontalSpacing + oneBucketBlock) * this.multiplication(indexSizeIndex, entryDepthIndex, blockSizeIndex) + horizontalSpacing;
        return xScaleResult + 25;
      };
    },

    xScaleBlockDescription() {
      return (blockSizeIndex, entryDepthIndex, indexSizeIndex) => {
        const differenceToBlock = 1;
        const xScaleResult = this.xScaleBlockRow(blockSizeIndex, entryDepthIndex, indexSizeIndex) - differenceToBlock;
        return xScaleResult;
      };
    },
    xScaleIndexDescription() {
      return (indexSizeIndex) => {
        const horizontalShift = 30;

        return this.xScaleEntryBlock(indexSizeIndex) + horizontalShift;
      };
    },
    xScaleEntryDescription() {
      return (indexSizeIndex) => {
        const horizontalShift = -10;

        return this.xScaleEntryBlock(indexSizeIndex) + horizontalShift;
      };
    },
    yScaleIndexDescription() {
      return () => {
        return this.distanceToTop + this.$data.entrySizeYStart;
      };
    },
    yScaleEntryBlock() {
      return (entryDepthIndex) => {
        // Position the rectangle below the corresponding text
        const verticalShift = 10;
        const yScaleResult = this.yScaleIndexDescription() + verticalShift + this.textHeight + ((entryDepthIndex - 1) * this.cellHeight);
        //this.$forceUpdate();
        return yScaleResult;
      };
    },
    yScaleArrowBegin() {
      return (entryDepthIndex) => {
        // Position the rectangle below the corresponding text
        const verticalShift = 20;
        const yScaleResult = this.yScaleIndexDescription() + verticalShift + this.textHeight + ((entryDepthIndex - 1) * this.cellHeight);
        if (this.$data.entrySizeYEnd < yScaleResult) {
          this.$data.entrySizeYEnd = yScaleResult + this.cellHeight + verticalShift;
        }

        return yScaleResult;
      };
    },
    yScaleEntryDescription() {
      return (entryDepthIndex) => {
        const verticalShift = 15;
        return this.yScaleEntryBlock(entryDepthIndex) + verticalShift;
      };
    },
    yScaleBlockRow() {
      return (blockRowIndex, entryDepthIndex, indexSizeIndex) => {
        const verticalShift = 10;
        const generalHeight = this.distanceToTop + verticalShift + this.textHeight + ((blockRowIndex - 1) * this.cellHeight);
        if (((2 ** (this.entrySize)) / 2) >= (entryDepthIndex + 1)) { //upperHalf
          const yScaleResult = generalHeight;
          if (this.$data.entrySizeYStart < (yScaleResult + this.$data.cellHeight)) {
            this.$data.entrySizeYStart = (yScaleResult + this.$data.cellHeight);
          }
          return yScaleResult;
        } else { //lowerHalf
          return generalHeight + this.$data.entrySizeYEnd;
        }
      };
    },
    yScaleBlockRowValue() {
      return (blockRowIndex, entryDepthIndex, indexSizeIndex) => {
        const verticalShift = 30;
        const generalHeight = this.distanceToTop + verticalShift + this.textHeight + ((blockRowIndex - 1) * this.cellHeight);
        if (((2 ** (this.entrySize)) / 2) >= (entryDepthIndex + 1)) { //upperHalf
          const yScaleResult = generalHeight;
          if (this.$data.entrySizeYStart < (yScaleResult + this.$data.cellHeight)) {
            this.$data.entrySizeYStart = (yScaleResult + this.$data.cellHeight);
          }
          return yScaleResult;
        } else { //lowerHalf
          return generalHeight + this.$data.entrySizeYEnd;
        }
      };
    },
    yScaleArrowEnd() {
      return (blockRowIndex, entryDepthIndex, indexSizeIndex) => {
        const verticalShift = 10;
        const generalHeight = this.distanceToTop + verticalShift + this.textHeight + ((blockRowIndex - 1) * this.cellHeight);
        if (((2 ** (this.entrySize)) / 2) >= (entryDepthIndex + 1)) { //upperHalf
          const yScaleResult = generalHeight;
          if (this.$data.entrySizeYStart < (yScaleResult + this.$data.cellHeight)) {
            this.$data.entrySizeYStart = (yScaleResult + this.$data.cellHeight);
          }
          return yScaleResult + 20;
        } else { //lowerHalf
          return generalHeight + this.$data.entrySizeYEnd;
        }
      };
    },
    yScaleBlockDescription() {
      return (blockRowIndex, entryDepthIndex, indexSizeIndex) => {
        return this.yScaleBlockRow(blockRowIndex, entryDepthIndex, indexSizeIndex) + 20;
      };
    },
    findBlockPosition() {
      return (index, entry, block) => {
        const lowerHalfShift = -999;
        let position = this.upperHalfBlocks.findIndex(blockItem =>
          blockItem.indexSize === index &&
          blockItem.entryDepth === entry
        );
        if (position == -1) {
          position = this.lowerHalfBlocks.findIndex(blockItem =>
            blockItem.indexSize === index &&
            blockItem.entryDepth === entry
          );
          position += lowerHalfShift;
        }
        return position;
      }
    },


    multiplication() {
      return (indexSizeIndex, entryDepthIndex, blockSizeIndex) => {
        let position = this.findBlockPosition(indexSizeIndex, entryDepthIndex, blockSizeIndex);
        let multiplicator = 0;
        for (let i = 0; i < this.$data.indexSizes.length; i++) {
          for (let j = 0; j < this.$data.indexSizes[i].entrySizesForIndex.length; j++) {
            for (let k = 0; k < this.$data.indexSizes[i].entrySizesForIndex[j].bucketSizesForEntryDepth.length; k++) {
              if (this.$data.indexSizes[i].entrySizesForIndex[j].bucketSizesForEntryDepth[k].bucketRows.length !== 0) {
                let positionBucket = this.findBlockPosition(i, j, k);

                if (positionBucket >= 0 && position >= 0) { //upper half
                  if (positionBucket < position) {
                    multiplicator++;
                  }
                }
                if (positionBucket < -1 && position < -1) {
                  if (positionBucket < position) {
                    multiplicator++;
                  }
                }
              }

            }

          }
        }
        return multiplicator;
      };

    }
  },
  watch: {},
};
</script>

<style scoped>
.expand-x-y {
  height: 100%;
  width: 100%;
}

.svg-container {
  width: 90%;
  overflow-y: auto;
  overflow: auto;
  position: relative;
}

.hovered-value-container {
  background-color: rgba(201, 227, 108, 0.5);
  padding: 5px;
}

</style>
