<template>
  <div class="expand-x-y" id="wrapper">
    <svg class="expand-x-y" :style="{ height: svgHeight + 'px', width: svgWidth + 'px' }" @mousemove="updatePosition">
      <defs>
        <marker id="arrowHead" refX="12" refY="6" markerWidth="30" markerHeight="30"
                orient="auto">
          <path d="M 0 0 12 6 0 12 3 6" style="fill: black;"></path>
        </marker>
      </defs>

      <!-- Render cells based on rows and columns -->
      <g v-for="(row, rowIndex) in rows" :key="'row_' + rowIndex">
        <g v-for="(cell, colIndex) in row" :key="'cell_' + colIndex">
          <!-- Rect representing each cell -->
          <rect
            :x="xScale(rowIndex, colIndex)"
            :y="yScale(rowIndex, colIndex)"
            :width="cellWidth"
            :height="cellHeight"
            :style="`fill: ${cell.color}; stroke: black;
              transition-duration: ${transitionDuration}ms;`"
            @mouseover="showBinaryValue(cell.value)"
            @mouseleave="hoveredValue = null"
          />
          <!-- Text displaying value within the cell -->
          <text
            :x="xScaleText(rowIndex, colIndex)"
            :y="yScaleText(rowIndex, colIndex)"
            :style="`text-anchor: middle; fill: #333333; font-family: Roboto, sans-serif;
              transform: translate(0px, 0px); transition-duration: ${transitionDuration}ms;
              alignment-baseline: middle;`"
          >{{ cell.value }}
          </text>
          <!-- Text displaying row Index next to each row -->
          <text
            :x="xScaleTextNextToBox(rowIndex)"
            :y="yScaleText(rowIndex)"
            :style="`text-anchor: end; fill: #333333; font-family: Roboto, sans-serif;
              transform: translate(0px, 0px); transition-duration: ${transitionDuration}ms;
              alignment-baseline: middle;`"
          >{{ row.bucketIndex }}
          </text>
          <line
            v-if="row.length > maxCols && colIndex + 1 !== row.length && colIndex % maxCols === maxCols - 1"
            :x1="line(rowIndex, rowIndex, colIndex, colIndex + 1).x1"
            :y1="line(rowIndex, rowIndex, colIndex, colIndex + 1).y1"
            :x2="line(rowIndex, rowIndex, colIndex, colIndex + 1).x2"
            :y2="line(rowIndex, rowIndex, colIndex, colIndex + 1).y2"
            stroke="black"
            stroke-dasharray="5 3"
            marker-end="url(#arrowHead)"
            :style="`transition-duration: ${transitionDuration}ms;`"
          />
        </g>
      </g>

    </svg>
    <div v-if="hoveredValue !== null"
         :style="{ top: mouseY + 'px', left: mouseX + 'px', position: 'absolute' }">
      <div class="hovered-value-container">
        0b{{ hoveredValue }}
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from '../../services/EventBus';
import Color from '../../utils/Color';

export default {
  name: 'HashTableLinearHashing',
  data: () => ({
    // Data properties for hash table
    svgWidth: 0,
    svgHeight: 0,
    cellWidth: 50,
    cellHeight: 30,
    horizontalGap: 40,
    transitionDuration: 300,
    rows: [],
    maxCols: 0,
    distanceToTop: 50,
    hoveredValue: null,
    mouseX: 0,
    mouseY: 0,
  }),
  // Lifecycle hook: executed after the component has been added to the DOM
  mounted() {
    this.addResizeListener();
    this.resize();

    // ControlBar events
    EventBus.$on('controlZoomIn', this.zoomIn);
    EventBus.$on('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$on('animationStep', this.animationStep);
  },
  // Lifecycle hook: executed just before a component is destroyed
  destroyed() {
    this.removeResizeListener();

    EventBus.$off('controlZoomIn', this.zoomIn);
    EventBus.$off('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$off('animationStep', this.animationStep);
  },
  methods: {
    // Add event listener for window resize
    addResizeListener() {
      window.addEventListener('resize', this.resize);
    },
    // Remove event listener for window resize
    removeResizeListener() {
      window.removeEventListener('resize', this.resize);
    },
    // Resize method to update SVG dimensions
    resize() {
      this.$data.svgWidth = document.getElementById('wrapper').offsetWidth;
      this.$data.svgHeight = this.rows.length * this.cellHeight + this.distanceToTop;
    },
    // Placeholder for zoom in method
    zoomIn() {
    },
    // Placeholder for zoom out method
    zoomOut() {
    },
    // Handle animation steps received through EventBus
    animationStep(step) {
      step.forEach((action) => {
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        }
      });
      this.resize();
      this.$forceUpdate();
    },
    // Method to create a list of rows in the hash table
    createList(action) {
      this.rows.length = 0;
      this.maxCols = action.cols;
      this.addRowsToList(action);
      // Anpassung der SVG-Höhe basierend auf der Anzahl der Zeilen und Zellhöhe
    },
    addRowsToList(action) {
      const numRows = action.rows; // Anzahl der Zeilen (Y-Achse)
      const numCols = action.cols; // Anzahl der Spalten (X-Achse)

      for (let y = 0; y < numRows; y += 1) {
        const row = [];
        for (let x = 0; x < numCols; x += 1) {
          row.push({
            value: null,
            color: Color.BASE_COLOR_HASH_TABLE,
          });
        }
        this.rows.push(row);
      }
    },
    addOverflowBucket(action) {
      const rowIndex = action.row;
      const numNewColumns = action.cols;

      // Check if the specified row exists
      if (this.rows[rowIndex]) {
        // Add the specified number of new columns in the specified row
        for (let i = 0; i < numNewColumns; i++) {
          this.rows[rowIndex].push({
            value: null,
            color: Color.BASE_COLOR_HASH_TABLE,
          });
        }
      }
    },
    removeOverflowBucket(action) {
      const rowIndex = action.row;
      // Check if the specified row exists
      if (this.rows[rowIndex]) {
        for (let i = 0; i < this.maxCols; i += 1) {
          this.rows[rowIndex].pop();
        }
      }
    },
    removeRowsFromList(action) {
      for (let i = 0; i < action.rows; i += 1) {
        this.rows.pop();
      }
    },
    // Method to delete the list of rows in the hash table
    deleteList(action) {
      this.rows.length = 0;
    },
    // Method to insert a value at a specific position in a row's bucket
    insertValueAtPos(action) {
      this.rows[action.row][action.col].value = action.value;
    },
    // Method to remove a value at a specific position from a row's bucket
    removeValueAtPos(action) {
      this.rows[action.row][action.col].value = null;
    },
    removeValuesOfRow(action) {
      for (let i = this.rows[action.row].length - 1; i >= 0; i -= 1) {
        this.rows[action.row][i].value = null;
        if (i >= this.maxCols) {
          this.rows[action.row].pop();
        }
      }
    },
    updateValuesOfRow(action) {
      for (let i = 0; i < this.rows[action.row].length; i += 1) {
        this.rows[action.row][i].value = action.values[i];
      }
    },
    insertValuesOfRow(action) {
      const rowIndex = action.row;
      for (let i = 0; i < action.values.length; i += 1) {
        if (this.rows[action.row][i] === undefined) {
          for (let j = 0; j < this.maxCols; j += 1) {
            this.rows[rowIndex].push({
              value: null,
              color: Color.BASE_COLOR_HASH_TABLE,
            });
          }
        }
        if (this.rows[action.row][i] === undefined) {
        }
        this.rows[action.row][i].value = action.values[i];
      }
    },

    // Method to set the value of a specific row
    setRowValue(action) {
      for (let i = 0; i < this.rows.length; i += 1) {
        this.rows[i].bucketIndex = action.bucketIndexes[i];
      }
    },
    // Method to set the color of a specific row
    setRowColor(action) {
      this.rows[action.row][action.col].color = action.color;
    },
    // Method to set the stroke width of a specific cell (element in a bucket)
    setCellStrokeWidth(action) {
      this.rows[action.row].bucket[action.col].strokeWidth = action.value;
    },
    showBinaryValue(value) {
      this.hoveredValue = value !== null ? value.toString(2) : null;
    },
    updatePosition(event) {
      this.mouseX = event.clientX + 30;
      this.mouseY = event.clientY - 70;
    },
  },
  computed: {
    // Compute xScale for positioning elements horizontally in the hash table
    xScale() {
      let maxCols = 0;
      this.rows.forEach((row) => {
        if (row.length > maxCols) {
          maxCols = row.length;
        }
      });
      return (rowIndex, colIndex) => {
        const totalWidth = maxCols * this.cellWidth;
        const startX = (this.svgWidth - totalWidth) / 2;

        const spacing = parseInt(colIndex / this.maxCols, 10);
        return startX + (colIndex + spacing) * this.cellWidth;
      };
    },

    // Compute yScale for positioning elements vertically in the hash table
    yScale() {
      return (rowIndex, colIndex) => {
        const numRows = this.rows.length;
        const tableHeight = numRows * this.cellHeight;
        const startY = (this.svgHeight - tableHeight) / 2;

        return startY + rowIndex * this.cellHeight;
      };
    },

    // Text be placed left next to rectangle
    xScaleTextNextToBox() {
      return (rowIndex, colIndex = null) => this.xScale(rowIndex, colIndex) + this.cellWidth - 55;
    },
    // Compute xScaleText for positioning text horizontally in the hash table
    xScaleText() {
      return (rowIndex, colIndex = null) => this.xScale(rowIndex, colIndex) + this.cellWidth - 25;
    },
    // Compute yScaleText for positioning text vertically in the hash table
    yScaleText() {
      return (rowIndex) => this.yScale(rowIndex) + this.cellHeight / 2;
    },
    // Compute line for drawing lines connecting rows to their buckets
    line() {
      return (fromRow, toRow, fromCol, toCol) => {
        const x1 = this.xScale(fromRow, fromCol) + this.cellWidth;
        const y1 = this.yScale(fromRow, fromCol) + this.cellHeight / 2;
        const x2 = this.xScale(toRow, toCol);
        const y2 = this.yScale(toRow) + this.cellHeight / 2;

        return {
          x1,
          y1,
          x2,
          y2,
        };
      };
    },
  },
};
</script>

<style scoped>
.expand-x-y {
  height: 100%;
  width: 100%;
}

.hovered-value-container {
  background-color: white; /* Hintergrundfarbe auf weiß setzen */
  padding: 5px; /* Einen Abstand um den Text hinzufügen */
}
</style>
