<template>
  <div class="expand-x-y" id="wrapper">
    <svg class="expand-x-y" :style="{ height: svgHeight + 'px' }">
      <defs>
        <marker id="arrowHead" refX="12" refY="6" markerWidth="30" markerHeight="30" orient="auto">
          <path d="M 0 0 12 6 0 12 3 6" style="fill: black;"></path>
        </marker>
      </defs>
      <g v-for="(row, rowIndex) in rows" :key="rowIndex">
        <rect
          :x="xScale(rowIndex)"
          :y="yScale(rowIndex)"
          :width="cellWidth"
          :height="cellHeight"
          :style="`fill: ${row.color};
            stroke: black;
            transition-duration: ${transitionDuration}ms;`"
        />
        <text
          :x="xScaleText(rowIndex)"
          :y="yScaleText(rowIndex)"
          :style="`text-anchor: end;
            fill: #333333;
            font-family: Roboto, sans-serif;
            transform: translate(0px, 0px);
            transition-duration: ${transitionDuration}ms;
            alignment-baseline: middle;`"
        >{{row.value}}</text>
        <line
          v-if="row.bucket.length > 0"
          :x1="line(rowIndex, rowIndex).x1"
          :y1="line(rowIndex, rowIndex).y1"
          :x2="line(rowIndex, rowIndex).x2"
          :y2="line(rowIndex, rowIndex).y2"
          stroke="black"
          stroke-dasharray="5 3"
          marker-end="url(#arrowHead)"
          :style="`transition-duration: ${transitionDuration}ms;`"
        />
        <g v-for="(element, bucketIndex) in row.bucket" :key="bucketIndex">
          <rect
            :x="xScale(rowIndex, bucketIndex)"
            :y="yScale(rowIndex)"
            :width="cellWidth"
            :height="cellHeight"
            :style="`fill: ${element.color};
              stroke: black;
              transition-duration: ${transitionDuration}ms;`"
          />
          <text
            :x="xScaleText(rowIndex, bucketIndex)"
            :y="yScaleText(rowIndex)"
            :style="`text-anchor: end;
              fill: #333333;
              font-family: Roboto, sans-serif;
              transform: translate(0px, 0px);
              transition-duration: ${transitionDuration}ms;
              alignment-baseline: middle;`"
          >{{element.value}}</text>
        </g>
      </g>
    </svg>
  </div>
</template>

<script>
import EventBus from '../../services/EventBus';
import Color from '../../utils/Color';

export default {
  name: 'HashTableVertical',
  data: () => ({
    svgWidth: 0,
    svgHeight: 0,
    cellWidth: 50,
    cellHeight: 30,
    horizontalGap: 40,
    transitionDuration: 300,
    rows: [],
  }),
  mounted() {
    this.addResizeListener();
    this.resize();

    // ControlBar events
    EventBus.$on('controlZoomIn', this.zoomIn);
    EventBus.$on('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$on('animationStep', this.animationStep);
  },
  destroyed() {
    this.removeResizeListener();

    EventBus.$off('controlZoomIn', this.zoomIn);
    EventBus.$off('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$off('animationStep', this.animationStep);
  },
  methods: {
    addResizeListener() {
      window.addEventListener('resize', this.resize);
    },
    removeResizeListener() {
      window.removeEventListener('resize', this.resize);
    },
    resize() {
      setTimeout(() => {
        this.$data.svgWidth = document.getElementById('wrapper').offsetWidth;
        this.$data.svgHeight = document.getElementById('wrapper').offsetHeight;
      }, 5);
    },
    zoomIn() {},
    zoomOut() {},
    animationStep(step) {
      step.forEach((action) => {
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        }
      });
    },
    createList(action) {
      console.log('Create list');
      this.rows.length = 0;
      for (let i = 0; i < action.rows; i += 1) {
        this.rows.push({
          value: null,
          color: Color.BASE_COLOR_HASH_TABLE,
          bucket: [],
        });
        this.svgHeight = (this.rows.length * this.cellHeight);
      }
    },
    deleteList(action) {
      this.rows.length = 0;
    },
    insertValueAtPos(action) {
      this.rows[action.row].bucket.splice(action.pos, 0, {
        value: action.value,
        color: Color.BASE_COLOR_HASH_TABLE,
        strokeWidth: 1,
      });
    },
    removeValueAtPos(action) {
      this.rows[action.row].bucket.splice(action.pos, 1);
    },
    setRowValue(action) {
      this.rows[action.row].value = action.value;
    },
    setRowColor(action) {
      this.rows[action.row].color = action.color;
    },
    setCellColor(action) {
      this.rows[action.row].bucket[action.col].color = action.color;
    },
    setCellStrokeWidth(action) {
      this.rows[action.row].bucket[action.col].strokeWidth = action.value;
    },
  },
  computed: {
    xScale() { // horizontal
      return (rowIndex, colIndex = null) => {
        const numElementsInBiggestBucket = Math.max(...this.rows.map((r) => r.bucket.length));
        const bucketsWidth = numElementsInBiggestBucket * this.cellWidth;
        const tableWidth = this.cellWidth + this.horizontalGap + bucketsWidth;

        if (colIndex === null) {
          return (this.svgWidth - tableWidth) / 2;
        }

        return (this.svgWidth - tableWidth) / 2
          + this.cellWidth + this.horizontalGap
          + colIndex * 50;
      };
    },
    yScale() { // vertical
      return (rowIndex) => {
        const tableHeight = this.rows.length * this.cellHeight;
        const tablePos = (this.svgHeight - tableHeight) / 2;
        return tablePos + rowIndex * this.cellHeight;
      };
    },
    xScaleText() {
      return (rowIndex, colIndex = null) => this.xScale(rowIndex, colIndex) + this.cellWidth - 5;
    },
    yScaleText() {
      return (rowIndex) => this.yScale(rowIndex) + this.cellHeight / 2;
    },
    line() {
      return (from, to) => ({
        x1: this.xScale(from) + this.cellWidth,
        y1: this.yScale(from) + this.cellHeight / 2,
        x2: this.xScale(from, 0),
        y2: this.yScale(to) + this.cellHeight / 2,
      });
    },
  },
};
</script>

<style scoped>
  .expand-x-y {
    height: 100%;
    width: 100%;
  }
</style>

// LinearHashing
// create: bucket size, D

// ExtendibleHashing
// globalDepth: number of bits (eg. 3 bits -> 8 addressable elements in the list)
// bucketSize: number of elements in each bucket attached to the 8 addressable elements
// viz:
// one fixed-size horizontal bucket per element in the vertical list
// vertical list doubles in size (number of bits +1) if a bucket overflows

// BISEH
// create: indexSize, entrySize, blockSize
multiple indices, with a datablock attached to each element in each index.
complex, use d3.treeLayout?

// const root = d3.hierarchy(this.root);
// const treeLayout = d3.tree();
// const height = this.svgHeight * 0.9;
// const width = (this.svgWidth - this.cellWidth) * 0.9;
// treeLayout.size([height, width]);
// const h = treeLayout(root);
// this.convertedData = h.descendants();
// this.convertedData.splice(0, 1); // remove root
