<template>
  <div class="outer">
    <div class="controls">
      <InsertRemoveInput :boxes="[]" ds-name="bst"/>
    </div>
    <div class="drawing-area">
      <BinaryTree />
    </div>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash';
import BinaryTree from '../../components/trees/BinaryTree.vue';
import InsertRemoveInput from '../../components/InsertRemoveInput.vue';
import EventBus from '../../services/EventBus';
import controlHandlers from '../../mixins/controlHandlers';
import MaxHeap from '../../algorithms/trekhleb/src/data-structures/heap/MaxHeap';
import dataStructureMixin from '../../mixins/dataStructureImportExportMixin';
import ValueType from '../../utils/ValueType';
import StepGroup from '../../utils/StepGroup';
import StepGroupType from '../../utils/StepGroupType';
import TreeUtils from '../../utils/TreeUtils';

export default {
  name: 'MaxHeap',
  data: () => ({
    dataStructure: null,
    root: null,
  }),
  mixins: [controlHandlers, dataStructureMixin],
  components: {
    BinaryTree,
    InsertRemoveInput,
  },
  created() {
    
  },
  mounted() {
    this.initTree();
    this.registerListeners();
    EventBus.$on('insertValue', this.insertValue);
    EventBus.$on('removeValue', this.removeValue);
    EventBus.$on('loadValues', this.loadValues);
  },
  beforeDestroy() {
    this.unregisterListeners();
    EventBus.$off('insertValue', this.insertValue);
    EventBus.$off('removeValue', this.removeValue);
    EventBus.$off('loadValues', this.loadValues);
  },
  methods: {
    initTree() {
      this.dataStructure = new MaxHeap();
      this.root = this.dataStructure.buildTree();
      const step = {
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: cloneDeep(this.dataStructure),
        };
        EventBus.$emit('animationStep', step);
    },
    insertValue(value) {
      const valueArray = Array.isArray(value) ? value : [value];
      const stepGroupArray = [];
      if(!(this.isatStepsGroupEnd())&& valueArray.length>0){
          this.cutStepGroup();
        }

      for (const value of valueArray) {
        let undoStructure = cloneDeep(this.dataStructure);
        this.dataStructure.add(parseInt(value, 10));

        const stepGroup = new StepGroup(StepGroupType.INSERT);

        stepGroup.setValue(parseInt(value, 10));
        stepGroup.setSteps(this.dataStructure.getActions());
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setOldDataStructure(undoStructure);

        // this.pushValueToStore(parseInt(value, 10));

        stepGroupArray.push(stepGroup);
      }

      EventBus.$emit('controlPlay', stepGroupArray);
    },
    removeValue() {
      if(!(this.isatStepsGroupEnd())&& valueArray.length>0){
          this.cutStepGroup();
        }
      let undoStructure = cloneDeep(this.dataStructure);
      const value = this.dataStructure.poll();
      const stepGroup = new StepGroup(StepGroupType.REMOVE);
      stepGroup.setValue(value);
      stepGroup.setSteps(this.dataStructure.getActions());
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      stepGroup.setOldDataStructure(undoStructure);
      // this.removeValueFromStore(value);

      EventBus.$emit('controlPlay', stepGroup);
    },
    loadValues(valueWrapper) {
      if (valueWrapper.type === ValueType.INTEGERS) {
        this.dataStructure = new MaxHeap();
        valueWrapper.values.forEach((item) => {
          this.dataStructure.add(item);
        });
        this.root = this.dataStructure.buildTree();
        const step = {
            action: TreeUtils.UPDATE_TREE,
            elements: this.root,
            dataStructure:cloneDeep(this.dataStructure),
          };
          this.clearAnimation();
          EventBus.$emit('animationStep', step);
        this.$store.commit('setValueList', [...valueWrapper.values]);
      }
    },
  },
};
</script>

<style scoped>
.outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.outer .controls {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.outer .drawing-area {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
</style>
