<template>
  <div class="outer">
    <div class="controls">
      <InsertSearchRemoveInputTrie :boxes="[]" :size="false"/>
    </div>
    <div class="drawing-area">
      <PrefixTree/>
    </div>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash';
import PrefixTree from '../../components/trees/PrefixTree.vue';
import InsertSearchRemoveInputTrie from '../../components/InsertSearchRemoveInputTrie.vue';
import controlHandlers from '../../mixins/controlHandlers';
import EventBus from '../../services/EventBus';
import Trie from '../../algorithms/trekhleb/src/data-structures/trie/Trie';
import ValueType from '../../utils/ValueType';
import dataStructureMixin from '../../mixins/dataStructureImportExportMixin';
import StepGroup from '../../utils/StepGroup';
import StepGroupType from '../../utils/StepGroupType';
import TreeUtils from '../../utils/TreeUtils';

export default {
  name: 'Trie',
  data: () => ({
    dataStructure: null,
  }),
  components: {
    InsertSearchRemoveInputTrie,
    PrefixTree,
  },
  mixins: [controlHandlers, dataStructureMixin],
  mounted() {
    this.registerListeners();
    this.initTree();
    EventBus.$on('insertValue', this.insertValue);
    EventBus.$on('searchValue', this.findValue);
    EventBus.$on('removeValue', this.removeValue);
    EventBus.$on('loadValues', this.loadValues);
  },
  beforeDestroy() {
    this.unregisterListeners();
    EventBus.$off('insertValue', this.insertValue);
    EventBus.$off('searchValue', this.findValue);
    EventBus.$off('removeValue', this.removeValue);
    EventBus.$off('loadValues', this.loadValues);
  },
  created() {
    this.$store.commit('setValueType', ValueType.CHARACTERS);
  },
  methods: {
    initTree() {
      this.dataStructure = new Trie();
        const step = {
            action: TreeUtils.UPDATE_TREE,
            elements: this.dataStructure.root,
            dataStructure: cloneDeep(this.dataStructure),
        };
        EventBus.$emit('animationStep', step);
    },
    insertValue(value) {
      if(!(this.isatStepsGroupEnd())){
          this.dataStructure = this.getCurrentDataStructure();
          this.cutStepGroup();
        }
      const stepGroup = new StepGroup(StepGroupType.INSERT);
      stepGroup.setValue(value);
      let oldDataStructure = cloneDeep(this.dataStructure);
      stepGroup.setSteps(this.dataStructure.addWord(value));
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      stepGroup.setOldDataStructure(oldDataStructure);
      EventBus.$emit('controlPlay', stepGroup);
      // this.pushValueToStore(value);
    },
    removeValue(value) {
      if(!(this.isatStepsGroupEnd())){
          this.dataStructure = this.getCurrentDataStructure();
          this.cutStepGroup();
        }
      const valueToRemove = `${value}$`;
      const stepGroup = new StepGroup(StepGroupType.REMOVE);
      let oldDataStructure = cloneDeep(this.dataStructure);
      stepGroup.setValue(valueToRemove);
      stepGroup.setSteps(this.dataStructure.deleteWord(valueToRemove));
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      stepGroup.setOldDataStructure(oldDataStructure);
      EventBus.$emit('controlPlay', stepGroup);
      // this.removeValueFromStore(valueToRemove);
    },
    findValue(value) {
      if(!(this.isatStepsGroupEnd())&& value!==undefined){
          this.cutStepGroup();
        }
      const stepGroup = new StepGroup(StepGroupType.ALGORITHM);
      stepGroup.setValue(value);
      stepGroup.setSteps(this.dataStructure.containsWord(value));
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      EventBus.$emit('controlPlay', stepGroup);
    },
    loadValues(valueWrapper) {
      if (valueWrapper.type === ValueType.CHARACTERS) {
        this.dataStructure = new Trie();
        valueWrapper.values.forEach((item) => {
          this.dataStructure.addWord(item);
        });
        this.clearAnimation();
        this.componentKey += 1;
        this.$store.commit('setValueList', [...valueWrapper.values]);
      }
    },
    addDataStructureToActions(steps){
        for(let i = 0; i < steps.length; i++){
            let action = steps[i];
            if(action.do && action.do.action === TreeUtils.UPDATE_TREE){
                action.do.dataStructure = cloneDeep(this.dataStructure);
            }
        }
        return steps;
    },
  },
};
</script>

<style scoped>
  .outer {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .outer .controls {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }

  .outer .drawing-area {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
</style>
