<template>
  <div >
    <v-container fluid class="pt-15 pb-15">
      <v-layout align-center justify-center>
        <v-flex xs12 class="text-center" style="padding: 20px;">
          <h1 class="display-4 font-weight-bold"> <span class="span-accent">DA</span> Playground</h1>
          <h2 style="margin-top: 30px;" class="subtitle-3">A web-based visualization and training platform for algorithms
            and data structures</h2>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid class="pt-5 pb-5">
      <v-layout align-center justify-center>
        <v-flex xs12 class="text-center">
          <v-btn color="primary" class="mr-2" href="/docs">
            <v-icon medium>mdi-book-open-variant</v-icon> Documentation
          </v-btn>
          <v-btn color="primary" class="mr-2" target="_blank" href="https://gitlab.com/daplayground/daplayground">
            <v-icon medium>mdi-code-tags</v-icon> Source Code
          </v-btn>
          <v-btn color="primary" target="_blank" href="https://gitlab.com/daplayground/daplayground/-/issues">
            <v-icon medium>mdi-alert-circle-outline</v-icon> Issues
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    
    
      <v-container fluid>
        <v-layout align-center justify-center>
          <v-flex xs12 >
            <v-row>
              <v-col cols="4">
                <v-card class="mb-4" flat>
                  <v-card-title class="headline">About the tool</v-card-title>
                  <v-card-text>
                    The tool was developed at the Faculty of Computer Science at the University of Vienna and is intended to be used as a means of teaching and training for the Algorithms and Data Structures lecture. DA Playground 2.0, developed by Matthäus Nössing and Joe Seegatz  is the successor to DA Playground, originally implemented by by Bernhard Frick and Lukas Wegscheider, making the website more robust, fixing errors in the implementation and adding UI features.
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="4">
                <v-card class="mb-4" flat>
                  <v-card-title class="headline">Features</v-card-title>
                  <v-card-text>
                    This software allows to visualize various algorithms and data structures to demonstrate how they exactly work. It is possible to fast forward and rewind the individual steps to study the exact behavior of the algorithm or data structure. In addition, a sidebar, which can be opened via the Info button, provides additional context about the accent colors used as well as a textual description of the respective topic.
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="4">
                <v-card class="mb-4" flat>
                  <v-card-title class="headline">Documentation and Issues</v-card-title>
                  <v-card-text>
                    A detailed documentation about the software architecture and a guide how to extend the software with new algorithms and data structures are available via the button 'Implementation'. The source code of the software on GitLab and the possibility to report issues can be reached via the buttons 'Source Code' and 'Issues'.
                  </v-card-text>
                </v-card>
              </v-col>
              
            </v-row>
          </v-flex>
        </v-layout>
      </v-container>
    
    
    
    
  </div>
</template>

<script>
import EmptyState from '../components/EmptyState.vue';


export default {
  name: 'home',
  components: {
    EmptyState,
  },
  data: () => ({
  }),
};
</script>

<style>


.span-accent {
  
  background: -webkit-linear-gradient(45deg,#379683,#3cbcc3, #eba63f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

</style>
