<template>
  <div>
    <NumberListInput :data="values"/>
    <div id="barChart">
      <BarChart :data="values"/>
    </div>
  </div>
</template>

<script>
import controlHandlers from '../../mixins/controlHandlers';
import NumberListInput from '../../components/NumberListInput.vue';
import BarChart from '../../components/sorts/BarChart.vue';
import getBubbleSortActions from '../../algorithms/sorts/BubbleSort';
import EventBus from '../../services/EventBus';
import ValueType from '../../utils/ValueType';
import importSequence from '../../mixins/sortsImportExportMixin';

export default {
  name: 'BubbleSort',
  mixins: [controlHandlers, importSequence],
  components: {
    NumberListInput,
    BarChart,
  },
  data: () => ({
    values: [5, 1, 3, 2, 4],
  }),
  mounted() {
    this.registerListeners();
    EventBus.$on('inputChange', this.setValues);
  },
  beforeDestroy() {
    this.unregisterListeners();
    EventBus.$off('inputChange', this.setValues);
  },
  methods: {
    getSteps() {
      return getBubbleSortActions(this.values);
    },
    setValues(values) {
      this.values = values;
      this.clearAnimation();
    },
    getValues() {
      return this.values;
      
    },
    getValueType() {
      return ValueType.INTEGERS;
    },
  },
};
</script>

<style>
  #barChart {
    height: calc(100% - 118px);
  }
</style>
