<template>
  <div>
    <NumberListInput :data="values"/>
    <div id="tablesHorizontal">
      <TablesHorizontal/>
    </div>
  </div>
</template>

<script>
import controlHandlers from '../../mixins/controlHandlers';
import importSequence from '../../mixins/sortsImportExportMixin';
import NumberListInput from '../../components/NumberListInput.vue';
import TablesHorizontal from '../../components/sorts/TablesHorizontal.vue';
import getBucketSortSteps from '../../algorithms/sorts/BucketSort';
import ValueType from '../../utils/ValueType';
import EventBus from '../../services/EventBus';

export default {
  name: 'BucketSort',
  mixins: [controlHandlers, importSequence],
  components: {
    NumberListInput,
    TablesHorizontal,
  },
  data: () => ({
    values: [90, 41, 80, 39, 69, 1, 19, 4, 48, 23],
  }),
  mounted() {
    this.registerListeners();
    EventBus.$on('inputChange', this.setValues);
  },
  beforeDestroy() {
    this.unregisterListeners();
    EventBus.$off('inputChange', this.setValues);
  },
  methods: {
    getSteps() {
      return getBucketSortSteps(this.values);
    },
    setValues(values) {
      this.clearAnimation();
      this.values = values;
    },
    getValues() {
      return this.values;
    },
    getValueType() {
      return ValueType.INTEGERS;
    },
  },
};
</script>

<style>
  #tablesHorizontal {
    height: calc(100% - 118px);
  }
</style>
