<template>
  <div id="bar-chart-container">
    <svg height="100%" width="100%">
      <g v-for="(item, index) in data" :key="index">
        <rect
          :class="'bar-'+id"
          :x="xScale(index)"
          :y="0"
          :width="xScale.bandwidth()"
          :height="0"
          :style="`fill: ${color.BASE_COLOR_BAR_CHART};`"
        />
        <text
          :class="'number-'+id"
          :x="xScale(index) + xScale.bandwidth() * 0.5"
          :y="0"
          :style="`font-size: 40px;
            text-anchor: middle;`"
        />
        <text
          :class="'label-'+id"
          :x="xScale(index) + xScale.bandwidth() * 0.5"
          :y="svgHeight * (1 - svgPadding) - yScale(item) / 2"
          :style="`text-anchor: middle;
            fill: #333333;`"
        />
      </g>
    </svg>
  </div>
</template>

<script>
import * as d3 from 'd3';
import EventBus from '../../services/EventBus';
import color from "../../utils/Color";

export default {
  name: 'BarChart',
  props: {
    id: {
      type: Number,
      default: 1,
    },
    data: Array,
  },
  data: () => ({
    svgWidth: 0,
    svgHeight: 0,
    svgPadding: 0.2, // in % of width and height
    transitionDuration: 300,
  }),
  mounted() {
    this.addResizeListener();
    this.resize();

    // ControlBar events
    EventBus.$on('controlZoomIn', this.zoomIn);
    EventBus.$on('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$on('animationStep', this.animationStep);
  },
  beforeDestroy() {
    EventBus.$off('controlZoomIn', this.zoomIn);
    EventBus.$off('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$off('animationStep', this.animationStep);

    this.removeResizeListener();
  },
  updated(){
    this.resetColor();
  },
  methods: {
    render() {
      // set height and y (vertical) position of bars
      d3.selectAll(`rect.bar-${this.id}`)
        .data(this.data)
        .attr('y', (d) => this.svgHeight * (1 - this.svgPadding) - this.yScale(d))
        .attr('height', (d) => this.yScale(d));

      // set y (vertical) position and text of numbers
      d3.selectAll(`text.number-${this.id}`)
        .data(this.data)
        .attr('y', (d) => this.svgHeight * (1 - this.svgPadding) + 50)
        .text((d) => d);

      // set y (vertical) position and position of labels
      d3.selectAll(`text.label-${this.id}`)
        .data(this.data)
        .attr('y', (d) => this.svgHeight * (1 - this.svgPadding) - this.yScale(d) / 2);
    },
    addResizeListener() {
      // redraw the chart after the window has been resized
      window.addEventListener('resize', this.resize);
    },
    removeResizeListener() {
      window.removeEventListener('resize', this.resize);
    },
    resize() {
      setTimeout(() => {
        this.$data.svgWidth = document.getElementById('bar-chart-container').offsetWidth;
        this.$data.svgHeight = document.getElementById('bar-chart-container').offsetHeight;
        this.render();
      }, 5);
      this.resetColor();
    },
    animationStep(step) {
      step.forEach((action) => {
        //check wether the action is implemented
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        }
      });
    },
    setColors(action) {
      // set color for each given element individually.
      action.elements.forEach((e) => {
        const elements = d3
          .selectAll(`rect.bar-${this.id}`)
          .nodes()
          .filter((_, index) => e.index === index);
        d3.selectAll(elements)
          .transition()
          .duration(this.transitionDuration)
          .style('fill', e.color);
      });
    },
    setLabels(action) {
      action.elements.forEach((e) => {
        const elements = d3.selectAll(`text.label-${this.id}`)
          .nodes()
          .filter((_, index) => e.index === index);
        d3.selectAll(elements)
          .text(e.text);
      });
    },
    exchange(eventData) {
      const [a, b] = eventData.elements;

      // exchange values
      const tmpVal = this.data[a];
      this.data[a] = this.data[b];
      this.data[b] = tmpVal;

      // render exchanged values
      this.render();
    },
    zoomIn() {
      console.log('BarChart.zoomIn');
      // todo: implement
    },
    zoomOut() {
      console.log('BarChart.zoomOut');
      // todo: implement
    },
    resetColor() {
      d3.selectAll(`rect`)
      .style('fill', this.color.BASE_COLOR_BAR_CHART);
    },
  },
  computed: {
    dataMax() {
      return d3.max(this.data);
    },
    dataMin() {
      return d3.min(this.data);
    },
    xScale() {
      return d3.scaleBand()
        .rangeRound([this.svgWidth * this.svgPadding, this.svgWidth * (1 - this.svgPadding)])
        .padding(0.1)
        .domain(this.data.map((d, i) => i));
    },
    yScale() {
      return d3.scaleLinear()
        .rangeRound([0, this.svgHeight * (1 - this.svgPadding * 2)])
        .domain([this.dataMin > 0 ? 0 : this.dataMin, this.dataMax]);
    },
    color() {
      return color;
    },
  },
  watch: {
    data() {
      setTimeout(this.render, 5);
    },
  },
};
</script>

<style scoped>
  #bar-chart-container {
    height: 100%;
  }
</style>
