<template>
  <div id="tables-container">
    <svg height="100%" width="100%">
      <g v-for="(table, tableIndex) in tables" :key="tableIndex">
        <text
          :x="xScaleTitle(table)"
          :y="yScaleTitle(table)"
          :style="`text-anchor: middle;
          fill: #333333;
          font-family: Roboto, sans-serif;
          font-weight: bold;
          transform: translate(0px, 0px);
          transition-duration: ${transitionDuration}ms;`"
        >{{table.title}}</text>
        <g v-for="(row, rowIndex) in table.rows" :key="rowIndex">
          <g v-for="(cell, colIndex) in row" :key="colIndex">
            <rect
              :x="xScale(table, cell, colIndex)"
              :y="yScale(table, cell, rowIndex)"
              :width="cell.width"
              :height="cell.height"
              :style="`fill:${cell.color};
              stroke: #333333;
              stroke-width: ${cell.stroke}px;
              transition-duration: ${transitionDuration}ms;`"
            />
            <text
              :x="xScale(table, cell, colIndex) + cell.width - 7"
              :y="yScale(table, cell, rowIndex) + cell.height / 2 + 2"
              :style="`text-anchor: end;
              fill: #333333;
              font-family: Roboto, sans-serif;
              transform: translate(0px, 0px);
              transition-duration: ${transitionDuration}ms;
              alignment-baseline: middle;`"
            >{{cell.value}}</text>
          </g>
        </g>
      </g>
    </svg>
  </div>
</template>

<script>
import EventBus from '../../services/EventBus';
import Color from '../../utils/Color';

export default {
  name: 'TablesHorizontal',
  data: () => ({
    svgWidth: 0,
    svgHeight: 0,
    tables: [],
    defaultColWidth: 80,
    defaultRowHeight: 30,
    transitionDuration: 300,
  }),
  mounted() {
    this.svgWidth = document.getElementById('tables-container').offsetWidth;
    this.svgHeight = document.getElementById('tables-container').offsetHeight;

    this.addResizeListener();
    this.resize();

    // ControlBar events
    EventBus.$on('controlZoomIn', this.zoomIn);
    EventBus.$on('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$on('animationStep', this.animationStep);
  },
  destroyed() {
    this.removeResizeListener();

    EventBus.$off('controlZoomIn', this.zoomIn);
    EventBus.$off('controlZoomOut', this.zoomOut);

    // DS events
    EventBus.$off('animationStep', this.animationStep);
  },
  methods: {
    addResizeListener() {
      window.addEventListener('resize', this.resize);
    },
    removeResizeListener() {
      window.removeEventListener('resize', this.resize);
    },
    resize() {
      setTimeout(() => {
        this.$data.svgWidth = document.getElementById('tables-container').offsetWidth;
        this.$data.svgHeight = document.getElementById('tables-container').offsetHeight;
      }, 5);
    },
    animationStep(step) {
      step.forEach((action) => {
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        } else {
          console.log('VerticalTables.%s does not exist', action.action);
        }
      });
    },
    createTable(action) {
      const table = {
        id: action.id,
        title: action.title,
        rows: [],
        colWidth: action.colWidth || new Array(action.cols).fill(this.defaultColWidth),
        rowHeight: action.rowHeight || new Array(action.rows).fill(this.defaultRowHeight),
      };

      for (let i = 0; i < action.rows; i += 1) {
        const row = [];
        for (let j = 0; j < action.cols; j += 1) {
          row.push({
            width: table.colWidth[j],
            height: table.rowHeight[i],
            value: null,
            color: Color.BASE_COLOR_TABLE_HORIZONTAL,
            stroke: 1,
          });
        }
        table.rows.push(row);
      }

      this.tables.push(table);
    },
    deleteTable(action) {
      const tableIndex = this.getTableIndex(action.id);
      this.tables.splice(tableIndex, 1);
    },
    setRowColor(action) {
      const tableIndex = this.getTableIndex(action.id);
      const numCols = this.tables[tableIndex].rows[action.row].length;
      for (let i = 0; i < numCols; i += 1) {
        this.tables[tableIndex].rows[action.row][i].color = action.color;
      }
    },
    setColumnColor(action) {
      const tableIndex = this.getTableIndex(action.id);
      const numRows = this.tables[tableIndex].rows.length;
      for (let i = 0; i < numRows; i += 1) {
        this.tables[tableIndex].rows[i][action.col].color = action.color;
      }
    },
    setCellColor(action) {
      const tableIndex = this.getTableIndex(action.id);
      this.tables[tableIndex].rows[action.row][action.col].color = action.color;
    },
    setRowValue(action) {
      const tableIndex = this.getTableIndex(action.id);
      const numCols = this.tables[tableIndex].rows[action.row].length;
      for (let i = 0; i < numCols; i += 1) {
        this.tables[tableIndex].rows[action.row][i].value = action.value;
      }
    },
    setColumnValue(action) {
      const tableIndex = this.getTableIndex(action.id);
      const numRows = this.tables[tableIndex].rows.length;
      for (let i = 0; i < numRows; i += 1) {
        this.tables[tableIndex].rows[i][action.col].value = action.value;
      }
    },
    setCellValue(action) {
      const tableIndex = this.getTableIndex(action.id);
      this.tables[tableIndex].rows[action.row][action.col].value = action.value;
    },
    setRowStroke(action) {
      const tableIndex = this.getTableIndex(action.id);
      const numCols = this.tables[tableIndex].rows[action.row].length;
      for (let i = 0; i < numCols; i += 1) {
        this.tables[tableIndex].rows[action.row][i].stroke = action.stroke;
      }
    },
    setColumnStroke(action) {
      const tableIndex = this.getTableIndex(action.id);
      const numRows = this.tables[tableIndex].rows.length;
      for (let i = 0; i < numRows; i += 1) {
        this.tables[tableIndex].rows[i][action.col].stroke = action.stroke;
      }
    },
    setCellStroke(action) {
      const tableIndex = this.getTableIndex(action.id);
      this.tables[tableIndex].rows[action.row][action.col].stroke = action.stroke;
    },
    clear(action) {
      this.tables.length = 0;
    },
    zoomIn() {
      console.log('VerticalTables.zoomIn');
      // todo: implement
    },
    zoomOut() {
      console.log('VerticalTables.zoomOut');
      // todo: implement
    },
    getTableIndex(tableId) {
      return this.tables.findIndex((t) => t.id === tableId);
    },
    resetColor(){
      this.tables.forEach((table) => {
        table.rows.forEach((row) => {
          row.forEach((cell) => {
            cell.color = Color.BASE_COLOR_TABLE_HORIZONTAL;
          });
        });
      });
    },
  },
  computed: {
    xScale() {
      return (table, cell, colIndex) => {
        const tableIndex = this.getTableIndex(table.id);
        const numTables = this.tables.length;
        const slotWidth = (this.svgWidth / numTables);
        const tableWidth = table.colWidth.reduce((a, b) => a + b);
        const marginLeft = (slotWidth - tableWidth) / 2;
        const slotStart = slotWidth * tableIndex;
        const tableStart = slotStart + marginLeft;
        return tableStart + colIndex * cell.width;
      };
    },
    yScale() {
      return (table, cell, rowIndex) => {
        const tableHeight = table.rowHeight.reduce((a, b) => a + b);
        const marginTop = (this.svgHeight - tableHeight) / 2;
        return marginTop + rowIndex * cell.height;
      };
    },
    xScaleTitle() {
      return (table) => {
        const tableIndex = this.getTableIndex(table.id);
        const numTables = this.tables.length;
        return (this.svgWidth / (2 * numTables)) * (2 * tableIndex + 1);
      };
    },
    yScaleTitle() {
      return (table) => {
        const tableHeight = table.rowHeight.reduce((a, b) => a + b);
        return (this.svgHeight - tableHeight) / 2 - 10;
      };
    },
    Color() {
        return Color;
    },
  },
};
</script>

<style scoped>
#tables-container {
  height: 100%;
}
</style>
