<template>
  <div id="view-container">
    <Network
      :key="componentKey"
      ds-name="dfs"
      :graph=graph
      :directed=false
      :weighted=false>
    </Network>
  </div>

</template>

<script>
import controlHandlers from '../../mixins/controlHandlers';
import Network from '../../components/graphs/Network.vue';
import Graph from '../../algorithms/trekhleb/src/data-structures/graph/Graph';
import GraphVertex from '../../algorithms/trekhleb/src/data-structures/graph/GraphVertex';
import GraphEdge from '../../algorithms/trekhleb/src/data-structures/graph/GraphEdge';
import dfs from '../../algorithms/graphs/dfs';
import graphImportExportMixin from '../../mixins/graphImportExportMixin';

export default {
  name: 'DepthFirstSearch',
  mixins: [controlHandlers, graphImportExportMixin],
  data() {
    return {
      graph: null,
    };
  },
  components: {
    Network,
  },
  mounted() {
    this.registerListeners();
  },
  beforeDestroy() {
    this.unregisterListeners();
  },
  created() {
    this.graph = new Graph();

    const vertexA = new GraphVertex('A');
    const vertexB = new GraphVertex('B');
    const vertexC = new GraphVertex('C');
    const vertexD = new GraphVertex('D');


    const edgeAB = new GraphEdge(vertexA, vertexB);
    const edgeAC = new GraphEdge(vertexA, vertexC);
    const edgeCD = new GraphEdge(vertexC, vertexD);

    this.graph
      .addVertex(vertexA)
      .addVertex(vertexB)
      .addVertex(vertexC)
      .addVertex(vertexD)
      .addEdge(edgeAB)
      .addEdge(edgeAC)
      .addEdge(edgeCD);
  },
  methods: {
    getSteps() {
      if (this.graph.getStartVertex() !== null) {
        return dfs(this.graph, this.graph.getStartVertex());
      }
      return [];
    },
  },
};
</script>

<style scoped>
  #view-container {
    height: 100%;
  }
</style>
