<template>
  <div id="view-container">
    <Network
      :key="componentKey"
      ds-name="kruskal"
      :graph=graph
      :directed=false
      :weighted=true>
    </Network>
  </div>

</template>

<script>
import controlHandlers from '../../mixins/controlHandlers';
import Graph from '../../algorithms/trekhleb/src/data-structures/graph/Graph';
import GraphVertex from '../../algorithms/trekhleb/src/data-structures/graph/GraphVertex';
import GraphEdge from '../../algorithms/trekhleb/src/data-structures/graph/GraphEdge';
import Network from '../../components/graphs/Network.vue';
import kruskal from '../../algorithms/trekhleb/src/algorithms/graph/kruskal/kruskal';
import graphImportExportMixin from '../../mixins/graphImportExportMixin';


export default {
  name: 'Kruskal',
  mixins: [controlHandlers, graphImportExportMixin],
  data() {
    return {
      graph: null,
    };
  },
  components: {
    Network,
  },
  mounted() {
    this.registerListeners();
  },
  beforeDestroy() {
    this.unregisterListeners();
  },
  created() {
    const vertexA = new GraphVertex('A');
    const vertexB = new GraphVertex('B');
    const vertexC = new GraphVertex('C');
    const vertexD = new GraphVertex('D');
    const vertexE = new GraphVertex('E');
    const vertexF = new GraphVertex('F');
    const vertexG = new GraphVertex('G');

    const edgeAB = new GraphEdge(vertexA, vertexB, 2);
    const edgeAD = new GraphEdge(vertexA, vertexD, 3);
    const edgeBC = new GraphEdge(vertexB, vertexC, 4);
    const edgeBE = new GraphEdge(vertexB, vertexE, 3);
    const edgeDF = new GraphEdge(vertexD, vertexF, 7);
    const edgeEC = new GraphEdge(vertexE, vertexC, 1);
    const edgeEF = new GraphEdge(vertexE, vertexF, 8);
    const edgeFG = new GraphEdge(vertexF, vertexG, 9);
    const edgeFC = new GraphEdge(vertexF, vertexC, 6);

    this.graph = new Graph();

    this.graph
      .addVertex(vertexA)
      .addVertex(vertexB)
      .addVertex(vertexC)
      .addVertex(vertexD)
      .addVertex(vertexE)
      .addVertex(vertexF)
      .addVertex(vertexG)
      .addEdge(edgeAB)
      .addEdge(edgeAD)
      .addEdge(edgeBC)
      .addEdge(edgeBE)
      .addEdge(edgeDF)
      .addEdge(edgeEC)
      .addEdge(edgeEF)
      .addEdge(edgeFC)
      .addEdge(edgeFG);
  },
  methods: {
    getSteps() {
      return kruskal(this.graph);
    },
  },
};
</script>

<style scoped>
  #view-container {
    height: 100%;
  }
</style>
