<template>
  <div id="view-container">
    <Network
      :key="componentKey"
      ds-name="topo"
      :graph=graph
      :directed=true
      :weighted=false>
    </Network>
  </div>

</template>

<script>
import Network from '../../components/graphs/Network.vue';
import Graph from '../../algorithms/trekhleb/src/data-structures/graph/Graph';
import GraphVertex from '../../algorithms/trekhleb/src/data-structures/graph/GraphVertex';
import GraphEdge from '../../algorithms/trekhleb/src/data-structures/graph/GraphEdge';
import topologicalSort
  from '../../algorithms/trekhleb/src/algorithms/graph/topological-sorting/topologicalSort';
import controlHandlers from '../../mixins/controlHandlers';
import graphImportExportMixin from '../../mixins/graphImportExportMixin';

export default {
  name: 'TopologicalSort',
  mixins: [controlHandlers, graphImportExportMixin],
  data() {
    return {
      graph: null,
    };
  },
  components: {
    Network,
  },
  mounted() {
    this.registerListeners();
  },
  beforeDestroy() {
    this.unregisterListeners();
  },
  created() {
    const vertexA = new GraphVertex('A');
    const vertexB = new GraphVertex('B');
    const vertexC = new GraphVertex('C');
    const vertexD = new GraphVertex('D');
    const vertexE = new GraphVertex('E');
    const vertexF = new GraphVertex('F');
    const vertexG = new GraphVertex('G');
    const vertexH = new GraphVertex('H');

    const edgeAC = new GraphEdge(vertexA, vertexC);
    const edgeCB = new GraphEdge(vertexC, vertexB);
    const edgeBD = new GraphEdge(vertexB, vertexD);
    const edgeCE = new GraphEdge(vertexC, vertexE);
    const edgeDF = new GraphEdge(vertexD, vertexF);
    const edgeEF = new GraphEdge(vertexE, vertexF);
    const edgeEH = new GraphEdge(vertexE, vertexH);
    const edgeFG = new GraphEdge(vertexF, vertexG);

    this.graph = new Graph(true);

    this.graph
      .addVertex(vertexA)
      .addVertex(vertexB)
      .addVertex(vertexC)
      .addVertex(vertexD)
      .addVertex(vertexE)
      .addVertex(vertexF)
      .addVertex(vertexG)
      .addVertex(vertexH)
      .addEdge(edgeAC)
      .addEdge(edgeCB)
      .addEdge(edgeBD)
      .addEdge(edgeCE)
      .addEdge(edgeDF)
      .addEdge(edgeEF)
      .addEdge(edgeEH)
      .addEdge(edgeFG);
    // const vertexA = new GraphVertex('A');
    // const vertexB = new GraphVertex('B');
    // const vertexC = new GraphVertex('C');
    // const vertexD = new GraphVertex('D');
    // const vertexE = new GraphVertex('E');
    //
    // const edgeAB = new GraphEdge(vertexA, vertexB);
    // const edgeBC = new GraphEdge(vertexB, vertexC);
    // const edgeCD = new GraphEdge(vertexC, vertexD);
    // const edgeBE = new GraphEdge(vertexB, vertexE);
    //
    // this.graph = new Graph(true);
    //
    // this.graph
    //   .addEdge(edgeAB)
    //   .addEdge(edgeBC)
    //   .addEdge(edgeCD)
    //   .addEdge(edgeBE);
  },
  methods: {
    getSteps() {
      return topologicalSort(this.graph);
    },
  },
};
</script>

<style scoped>
  #view-container {
    height: 100%;
  }
</style>
