<template>
  <v-navigation-drawer app clipped dark :value="visible" disable-resize-watcher>
    <v-list dense nav class="py-0">
      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title>Saved Data Structures</v-list-item-title>
          <v-list-item-subtitle>Import/Export</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider/>

      <v-list-item >
        <v-file-input
          v-model="file"
          accept=".json"
          @change="importFile"
          label="Import File"></v-file-input>
      </v-list-item>

      <v-divider/>

      <v-list-item
        v-for="item in fileNames"
        :key="item"
        link
        @click="loadFile(item)">
        <v-list-item-icon>
          <v-icon>mdi-file</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item }}</v-list-item-title>
        </v-list-item-content>

        <v-btn icon @click="downloadValues(item)">
          <v-tooltip bottom open-delay="600">
            <template v-slot:activator="{ on }">
              <v-icon v-on="on">mdi-export</v-icon>
            </template>
            <span>Export</span>
          </v-tooltip>
        </v-btn>

      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import EventBus from '../services/EventBus';
import exportValues from '../utils/exportValues';
import ValueWrapper from '../utils/ValueWrapper';

export default {
  name: 'ImportSidebar',
  props: {
    visible: Boolean,
  },
  data() {
    return {
      importedFiles: [],
      fileNames: [],
      selectedFile: null,
      file: null,
    };
  },
  mounted() {
    EventBus.$on('reloadNavigationDrawer', this.getAllFiles);
  },
  beforeDestroy() {
    EventBus.$off('reloadNavigationDrawer', this.getAllFiles);
  },
  created() {
    this.getAllFiles();
  },
  methods: {
    getAllFiles() {
      this.importedFiles = this.$store.getters.getAllInputFiles;
      this.fileNames = [...this.importedFiles.keys()];
    },
    downloadValues(name) {
      const valueWrapper = this.importedFiles.get(name);
      exportValues(valueWrapper);
    },
    importFile() {
      const fileReader = new FileReader();
      fileReader.onload = (event) => {
        const current = (JSON.parse(event.target.result));
        const { name } = current;
        const valueWrapper = Object.assign(new ValueWrapper(), current);
        this.$store.dispatch('addInputFile', {
          name,
          valueWrapper,
        })
          .then(() => EventBus.$emit('reloadNavigationDrawer'));
      };
      fileReader.readAsText(this.file);
    },
    loadFile(name) {
      const valueWrapper = this.importedFiles.get(name);
      EventBus.$emit('loadValues', valueWrapper);
    },
  },
};
</script>

<style scoped>

</style>
