<template>
  <v-navigation-drawer app clipped width="500" :value="visible" disable-resize-watcher>
    <v-card-text>
      <div v-if="infoMaterial.colorCode" class="mb-4">
        <h3 class="mb-2">Color Code</h3>
        <div v-for="(color, name) in infoMaterial.colorCode" :key="name">
          <span :style="{ backgroundColor: color, color: color }">___</span>
          {{ name }}
        </div>
      </div>
      <div v-if="infoMaterial.instructions" class="mb-4">
        <h3 class="mb-2">Instructions</h3>
        <div>{{ infoMaterial.instructions }}</div>
      </div>
      <div class="mb-4">
        <h3 class="mb-2">Description</h3>
        <div>{{ infoMaterial.description }}</div>
      </div>
      <div class="mb-4">
        <h3 class="mb-2">Source</h3>
        <div>
          <v-list-item-title v-for="(link, index) in infoMaterial.source" :key="index">
            {{ link }}
          </v-list-item-title>
        </div>
      </div>


      <div v-if="infoMaterial.exampleCode" class="mb-4">
        <h3 class="mb-2">Example Code</h3>
        <v-card>
          <v-card-text>{{ infoMaterial.exampleCode }}</v-card-text>
        </v-card>
      </div>
    </v-card-text>

  </v-navigation-drawer>
</template>


<script>


export default {
  name: 'ImportSidebar',
  props: {
    visible: Boolean,
    infoMaterial: {},
  },

}

</script>

<style scoped></style>
