<template>
  <v-container>
    <v-row dense>
      <v-col v-for="(item, index) in boxes" :key="index">
        <v-card class="mx-auto" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">{{ item.title }}</v-list-item-title>
              <v-list-item-subtitle>{{ item.subtitle }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
    <v-row dense>
      <v-col>
        <v-toolbar dense flat>
          <v-text-field
            outlined
            dense
            hide-details
            autofocus
            clearable
            v-model="value"
            :disabled="disabled.input"
            label="Type ..."/>
          <v-btn v-if="size" text height="40" color="primary"
                 :loading="loading.setSize"
                 :disabled="disabled.setSize"
                 @click="setSizeButton">set N
          </v-btn>
          <v-btn text height="40" color="primary"
                 :loading="loading.setCellar"
                 :disabled="disabled.setCellar"
                 @click="setCellarButton">set K
          </v-btn>
          <v-btn text height="40" color="primary"
                 :loading="loading.insert"
                 :disabled="disabled.insert"
                 @click="insertValueButton">insert
          </v-btn>
          <v-btn text height="40" color="primary"
                 :loading="loading.search"
                 :disabled="disabled.search"
                 @click="searchValueButton">search
          </v-btn>
          <v-btn text height="40" color="primary"
                 :loading="loading.remove"
                 :disabled="disabled.remove"
                 @click="removeValueButton">remove
          </v-btn>
          <v-spacer></v-spacer>
        </v-toolbar>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import EventBus from '../services/EventBus';

export default {
  name: 'InsertSearchRemoveInputCoalescedHashing',
  props: {
    boxes: {
      type: Array,
      default: () => ([
        {
          title: 'Size: N/A',
          subtitle: 'The size of the hash table indicates the maximum number of values the table can hold. It is also used in the hash function.',
        },
        {
          title: 'K: N/A',
          subtitle: 'The cellar size (K) is the size of cellar. Good overall value is N*0.1628.'
        },
        {
          title: 'Hash function: value % size',
          subtitle: 'The hash function is the function used to calculate the position of the element that is to be inserted in the hash table.',
        },
        {
          title: 'Information',
          subtitle: '',
        },
      ]),
    },
    size: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
  data: () => ({
    value: '',
    selected: '',
    disabled: {
      input: false,
      setSize: false,
      setCellar: false,
      insert: false,
      search: false,
      remove: false,
    },
    loading: {
      input: false,
      setSize: false,
      setCellar: false,
      insert: false,
      search: false,
      remove: false,
    },
  }),
  mounted() {
    EventBus.$on('animationStopped', this.clearLoading);
  },
  beforeDestroy() {
    EventBus.$off('animationStopped', this.clearLoading);
  },
  methods: {
    getValue() {
      if (/\s/.test(this.value)) {
        return this.value
          .trim()
          .split(' ')
          .filter(e => e.length !== 0)
          .map(e => parseInt(e, 10));
      } else {
        return parseInt(this.value, 10);
      }
    },
    setSizeButton() {
      if (this.getValue() > 20) {
        alert("For a good performance, the size shouldn't be greater than 20.");
      } else {
        this.loading.setSize = true;
        EventBus.$emit('setSize', this.getValue());
      }
    },
    setCellarButton() {
      this.loading.setCellar = true;
      EventBus.$emit('setCellar', this.getValue());
    },
    insertValueButton() {
      this.loading.insert = true;
      EventBus.$emit('insertValue', this.getValue());
    },
    searchValueButton() {
      this.loading.search = true;
      EventBus.$emit('searchValue', this.getValue());
    },
    removeValueButton() {
      this.loading.remove = true;
      EventBus.$emit('removeValue', this.getValue());
    },
    clearLoading() {
      this.loading.input = false;
      this.loading.setSize = false;
      this.loading.setCellar = false;
      this.loading.insert = false;
      this.loading.search = false;
      this.loading.remove = false;
    },
  },
  watch: {
    loading: {
      handler(newLoading, oldLoading) {
        // if any element is loading, all (other) elements should be disabled.
        // if no element is loading, no element should be disabled.
        const anyLoading = Object.values(newLoading).some((value) => value === true);
        this.disabled.input = anyLoading;
        this.disabled.setSize = anyLoading;
        this.disabled.insert = anyLoading;
        this.disabled.search = anyLoading;
        this.disabled.remove = anyLoading;
        this.disabled.setCellar = anyLoading;
      },
      deep: true, // deep watcher also watches changes within the watched object
    },
    value(newValue, oldVaue) {
      this.disabled.setSize = !/^[\d]*$/.test(newValue);
      this.disabled.setCellar = !/^[\d]*$/.test(newValue);
      this.disabled.insert = !/^[\d\s]*$/.test(newValue);
      this.disabled.search = !/^[\d]*$/.test(newValue);
      this.disabled.remove = !/^[\d\s]*$/.test(newValue);
    },
  },
};
</script>

<style scoped>
.v-text-field {
  width: 0;
}
</style>
