<template>
  <v-app>
    <ImportSidebar :visible="importExportSidebarVisible"></ImportSidebar>
    <InfoMaterialSidebar :visible="infoMaterialSidebarVisible" :infoMaterial="infoMaterial"></InfoMaterialSidebar>
    <v-app-bar app color="primary" clipped-left dark elevation="0" >

      <router-link to="/">
        <v-img contain class="shrink ml-2 mr-6" src="@/assets/favicon.png" width="35" />
      </router-link>

      <v-toolbar-title>DA Playground v.2.0</v-toolbar-title>

      <v-spacer />

      <v-toolbar-items>
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on">Graph Algorithms</v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(item, index) in graphs" :key="index" :to="item.path">
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on">Sorting Algorithms</v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(item, index) in sorts" :key="index" :to="item.path">
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on">Hash Structures</v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(item, index) in hashes" :key="index" :to="item.path">
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on">Tree Structures</v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(item, index) in trees" :key="index" :to="item.path">
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-toolbar-items>

      <v-spacer />

      <SettingsDialog />

    </v-app-bar>

    <v-main>

      <div id="view-container">
        <template v-if="this.$route.name !== 'home'">
          <HeadingBar :ds-group="dsGroup" :ds-name="dsName" :importExportSidebarVisible="importExportSidebarVisible"
            @toggle-import-export-drawer="updateImportExportSidebarVisible"
            :infoMaterialSidebarVisible="infoMaterialSidebarVisible"
            @toggle-info-material-siderbar-visible="updateInfoMaterialSidebarVisible" /> 
        </template>

        <div id="page-container">
          <router-view />
        </div>

        <template v-if="this.$route.name !== 'home'">
          <v-progress-linear :value="progress" />
          <ControlBar />
        </template>

      </div>

    </v-main>
  </v-app>
</template>

<script>
import HeadingBar from './components/HeadingBar.vue';
import ControlBar from './components/ControlBar.vue';
import ImportSidebar from './components/ImportSidebar.vue';
import SettingsDialog from './components/SettingsDialog.vue';
import graphsRoutes from './router/graphsRoutes';
import sortsRoutes from './router/sortsRoutes';
import hashingRoutes from './router/hashingRoutes';
import treesRoutes from './router/treesRoutes';
import EventBus from './services/EventBus';
import InfoMaterialSidebar from './components/InfoMaterialSidebar.vue';

export default {
  name: 'App',
  components: {
    HeadingBar,
    ControlBar,
    ImportSidebar,
    SettingsDialog,
    InfoMaterialSidebar
  },
  data: () => ({
    importExportSidebarVisible: false,
    infoMaterialSidebarVisible: false,
    dsGroup: 'No Group',
    dsName: 'No Data Structure selected',
    infoMaterial: {},

    graphs: graphsRoutes,
    sorts: sortsRoutes,
    hashes: hashingRoutes,
    trees: treesRoutes,

    progress: 0,
  }),
  mounted() {
    this.updateView(this.$route);
    EventBus.$on('animationProgress', this.setProgress);
  },
  beforeDestroy() {
    EventBus.$off('animationProgress', this.setProgress);
  },
  watch: {
    $route(to) {
      this.updateView(to);
      clearInterval(this.$store.getters.animationIntervalId);
      this.$store.dispatch('clearCurrentValues');
    },
  },
  methods: {
    /**
     * This method sets the Group and the Name of the data structure based
     * on the path and the title in the Routes files.
     *
     * @param route
     */
    updateView(route) {
      if (route.name === 'home') {
        this.dsGroup = 'No Group';
        this.dsName = 'No Data Structure selected';
        this.infoMaterialSidebarVisible = false;
        this.importExportSidebarVisible = false;
        return;
      }

      this.dsName = route.name? route.name : 'No Name specified'; 
      //this.dsName = this.$router.options.routes.find((el) => el.path === route.path).title;
      this.dsGroup = route.meta && route.meta.group ? route.meta.group : 'No Group specified';
      this.infoMaterial = route.meta && route.meta.infoMaterial ? route.meta.infoMaterial : {};

    },
    setProgress(progress) {
      this.progress = progress;
    },
    updateImportExportSidebarVisible(value) {
      this.importExportSidebarVisible = value;
      if (this.infoMaterialSidebarVisible && value) {
        this.infoMaterialSidebarVisible = false;
      }
    },
    updateInfoMaterialSidebarVisible(value) {
      this.infoMaterialSidebarVisible = value;
      if (this.importExportSidebarVisible && value) {
        this.importExportSidebarVisible = false;
      }
    },
  },
  computed: {
    route() {
      return this.$route;
    }
  },
};
</script>

<style>
#view-container {
  height: 100%;
}

#page-container {
  height: calc(100% - 2*64px - 4px);
}

#page-container>div {
  height: 100%;
}
</style>
