<template>
  <div class="outer">
    <div class="controls">
      <InsertSearchRemoveInput :boxes="infoBoxes"/>
    </div>
    <div class="drawing-area">
      <HashTableCoalesced/>
    </div>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash';
import InsertSearchRemoveInput from '../../components/InsertSearchRemoveInputCoalescedHashing.vue';
import HashTableCoalesced from '../../components/hashes/HashTableCoalescedHashing.vue';
import EventBus from '../../services/EventBus';
import StepGroup from '../../utils/StepGroup';
import StepGroupType from '../../utils/StepGroupType';
import ValueType from '../../utils/ValueType';
import controlHandlers from '../../mixins/controlHandlers';
import dataStructureMixin from '../../mixins/dataStructureImportExportMixin';
import CoalescedHashing from '../../algorithms/hashes/CoalescedHashing';

export default {
  name: 'CoalescedHashing',
  mixins: [controlHandlers, dataStructureMixin],
  components: {
    HashTableCoalesced,
    InsertSearchRemoveInput,
  },
  data: () => ({
    infoBoxes: [
      {
        title: 'N: N/A',
        subtitle: 'The size (N) of the hash table indicates the maximum number of values the table can hold. It is also used in the hash function.',
      },
      {
        title: 'K: N/A',
        subtitle: 'The cellar size (K) is the size of cellar. Good overall value is N*0.1628.'
      },
      {
        title: 'Hash Calculation: N/A',
        subtitle: 'The hash function is the function used to calculate the position of the element that is to be inserted in the hash table.',
      },
      {
        title: 'Information',
        subtitle: '',
      },
    ],
    dataStructure: null,
    size: null,
    cellarSize: 0,
    hashCalculation: 'address = value % size = ?',
    informationField: '',
  }),
  mounted() {
    // controlHandlers
    this.registerListeners();
    this.init();
    // Events from InsertSearchRemoveInput
    EventBus.$on('setSize', this.setSizeEvent);
    EventBus.$on('setCellar', this.setCellarEvent);
    EventBus.$on('insertValue', this.insertValueEvent);
    EventBus.$on('searchValue', this.searchValueEvent);
    EventBus.$on('removeValue', this.removeValueEvent);

    // Events from Animation
    EventBus.$on('animationStep', this.animationStep);
    EventBus.$on('loadValues', this.loadValues);
  },
  beforeDestroy() {
    // controlHandlers
    this.unregisterListeners();

    // Events from InsertSearchRemoveInput
    EventBus.$off('setSize', this.setSizeEvent);
    EventBus.$off('setCellar', this.setCellarEvent);
    EventBus.$off('insertValue', this.insertValueEvent);
    EventBus.$off('searchValue', this.searchValueEvent);
    EventBus.$off('removeValue', this.removeValueEvent);

    // Events from Animation
    EventBus.$off('animationStep', this.animationStep);
    EventBus.$off('loadValues', this.loadValues);
  },
  methods: {
    init() {
      this.dataStructure = new CoalescedHashing();
      const steps = this.dataStructure.init(7, 2);
      for (const step of steps) {
        EventBus.$emit('animationStep', step.do);
      }
      this.createList(steps[0].do[0]);
      this.setInformationField(steps[0].do[1]);
      this.setHashCalculation(steps[0].do[2]);
      this.setK(7);
      this.setCellar(2);
      this.setCellarSize(steps[0].do[3]);
    },
    setSizeEvent(size) {
      if (!(this.isatStepsGroupEnd())) {
        this.cutStepGroup();
      }
      this.dataStructure = new CoalescedHashing();
      const steps = this.dataStructure.init(size);
      const stepGroup = new StepGroup(StepGroupType.CREATE);
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      stepGroup.setValue(size);
      stepGroup.setSteps(steps);
      EventBus.$emit('controlPlay', stepGroup);
      //this.clearState();
      this.setK(size);
    },
    setCellarEvent(size){
      if (!(this.isatStepsGroupEnd())) {
        this.cutStepGroup();
      }
      const steps = this.dataStructure.setCellarSize(size);
      this.setInformationField(steps[0].do[1]);
      const stepGroup = new StepGroup(StepGroupType.ALGORITHM);
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      stepGroup.setValue(size);
      stepGroup.setSteps(steps);
      EventBus.$emit('controlPlay', stepGroup);
      this.clearState();
      this.setCellar(size);
    },
    //value from InsertSearchRemoveInputCoalescedHashing.vue (via Eventbus $emit)
    insertValueEvent(value) {
      const valueArray = Array.isArray(value) ? value : [value];
      const stepGroupArray = [];
      if (!(this.isatStepsGroupEnd()) && valueArray.length > 0) {
        this.cutStepGroup();

      }
      for (const value of valueArray) {
        const steps = this.dataStructure.insert(value);
        const stepGroup = new StepGroup(StepGroupType.INSERT);
        stepGroup.setOldDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setValue(value);
        stepGroup.setSteps(steps);
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        //this.pushValueToStore(value);
        stepGroupArray.push(stepGroup);
      }
      EventBus.$emit('controlPlay', stepGroupArray);
    },

    searchValueEvent(value) {
      if (!(this.isatStepsGroupEnd()) && value !== undefined) {
        this.cutStepGroup();
      }
      const steps = this.dataStructure.search(value);
      const stepGroup = new StepGroup(StepGroupType.ALGORITHM);
      stepGroup.setValue(value);
      stepGroup.setSteps(steps);
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      EventBus.$emit('controlPlay', stepGroup);
    },
    removeValueEvent(value) {
      const valueArray = Array.isArray(value) ? value : [value];
      const stepGroupArray = [];
      if (!(this.isatStepsGroupEnd()) && valueArray.length > 0) {
        this.cutStepGroup();
      }

      for (const value of valueArray) {
        const steps = this.dataStructure.remove(value);
        const stepGroup = new StepGroup(StepGroupType.REMOVE);
        stepGroup.setOldDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setValue(value);
        stepGroup.setSteps(steps);
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        //this.removeValueFromStore(value);
        stepGroupArray.push(stepGroup);
      }
      EventBus.$emit('controlPlay', stepGroupArray);
    },
    animationStep(step) {
      step.forEach((action) => {
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        }
      });
    },
    createList(action) {
      this.size = action.rows;
      this.hash = action.rows.hash;
    },
    //working
    setCellarSize(action){
      this.cellarSize = action.cellar;
    },
    setInformationField(action) {
      this.informationField = action.text;
    },
    setHashCalculation(action) {
      this.hashCalculation = action.text;
    },
    loadValues(valueWrapper) {
      if (valueWrapper.type === ValueType.INTEGERS) {
        this.dataStructure = new CoalescedHashing();
        const steps = [];
        steps.push(this.dataStructure.init(valueWrapper.k, valueWrapper.cellarSize));
        valueWrapper.values.forEach((item) => {
          steps.push(this.dataStructure.insert(item));
        });
        const stepGroup = new StepGroup(StepGroupType.INSERT);
        stepGroup.setSteps(steps);
        EventBus.$emit('controlPlay', steps);
        EventBus.$emit('controlGoToEnd');
        this.loadStructure(steps);

        this.$store.commit('setCurrentValues', valueWrapper);
      }
    },
  },
  watch: {
    size(to) {
      this.infoBoxes[0].title = `N: ${to}`;
    },
    cellarSize(to) {
      this.infoBoxes[1].title = `K: ${to}`;
    },
    hashCalculation(to) {
      this.infoBoxes[2].title = `Hash Calculation: ${to}`;
    },
    informationField(to) {
     this.infoBoxes[3].subtitle = to;
    },
  },
};
</script>

<style scoped>
.outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.outer .controls {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.outer .drawing-area {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
</style>
