<template>
  <div class="outer">
    <div class="controls">
      <InsertSearchRemoveInput :boxes="infoBoxes"/>
    </div>
    <div class="drawing-area">
      <HashTable :key="reloadKey" />
    </div>
  </div>
</template>

<script>
import InsertSearchRemoveInput from '../../components/InsertSearchRemoveInput.vue';
import HashTable from '../../components/hashes/HashTable.vue';
import controlHandlers from '../../mixins/controlHandlers';
import DoubleHashing from '../../algorithms/hashes/DoubleHashing';
import EventBus from '../../services/EventBus';
import StepGroup from '../../utils/StepGroup';
import StepGroupType from '../../utils/StepGroupType';
import dataStructureMixin from '../../mixins/dataStructureImportExportMixin';
import ValueType from '../../utils/ValueType';
import { cloneDeep } from 'lodash';

export default {
  name: 'DoubleHashing',
  mixins: [controlHandlers, dataStructureMixin],
  components: {
    InsertSearchRemoveInput,
    HashTable,
  },
  data: () => ({
    infoBoxes: [
      {
        title: 'Size: N/A',
        subtitle: 'The size of the hash table indicates the maximum number of values the table can hold.',
      },
      {
        title: 'Hash Function: N/A',
        subtitle: 'The hash function used to calculate the position of an element.',
      },
      {
        title: 'Fill Rate: N/A',
        subtitle: 'The fill rate indicates how much of the hash table is filled.',
      },
    ],
    dataStructure: null,
    size: null,
    hashCalculation: 'Address = value % size = ?',
    fillFactor: 0,
    reloadKey: 0,
  }),
  mounted() {
    // controlHandlers
    this.registerListeners();
    this.init();

    // Events from InsertSearchRemoveInput
    EventBus.$on('setSize', this.setSizeEvent);
    EventBus.$on('insertValue', this.insertValueEvent);
    EventBus.$on('searchValue', this.searchValueEvent);
    EventBus.$on('removeValue', this.removeValueEvent);

    // Events from Animation
    EventBus.$on('animationStep', this.animationStep);
    EventBus.$on('loadValues', this.loadValues);
  },
  beforeDestroy() {
    // controlHandlers
    this.unregisterListeners();

    // Events from InsertSearchRemoveInput
    EventBus.$off('setSize', this.setSizeEvent);
    EventBus.$off('insertValue', this.insertValueEvent);
    EventBus.$off('searchValue', this.searchValueEvent);
    EventBus.$off('removeValue', this.removeValueEvent);

    // Events from Animation
    EventBus.$off('animationStep', this.animationStep);
    EventBus.$off('loadValues', this.loadValues);
  },
  methods: {
    init() {
      this.dataStructure = new DoubleHashing();
      // const steps=this.dataStructure.init(7);
      // for (const step of steps) {
      //     EventBus.$emit('animationStep', step["do"]);

      //   //EventBus.$emit('animationStep', step["do"]);
      // }
      // this.createLinearList(steps[0]["do"][0]);
      // this.setK(7);
    },
    setSizeEvent(size) {
      this.dataStructure = new DoubleHashing();
      const steps = this.dataStructure.init(size);
      const stepGroup = new StepGroup(StepGroupType.CREATE);
      stepGroup.setValue(size);
      stepGroup.setSteps(steps);
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      this.reloadKey += 1;
      EventBus.$emit('controlPlay', stepGroup);
      this.$store.commit('clearValues');
      this.setK(size);
    },
    insertValueEvent(value) {
      const valueArray = Array.isArray(value) ? value : [value];
      const stepGroupArray = [];
      if(!(this.isatStepsGroupEnd())&& valueArray.length>0){
          this.cutStepGroup();
        }
      for (const value of valueArray) {
        const stepGroup = new StepGroup(StepGroupType.INSERT);
        stepGroup.setOldDataStructure(cloneDeep(this.dataStructure));
        const steps = this.dataStructure.insert(value);
        stepGroup.setValue(value);
        stepGroup.setSteps(steps);
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroupArray.push(stepGroup);
        // this.pushValueToStore(value);
      }

      EventBus.$emit('controlPlay', stepGroupArray);
    },
    searchValueEvent(value) {
      if(!(this.isatStepsGroupEnd())&& value!==undefined){
          this.cutStepGroup();
        }
      const steps = this.dataStructure.search(value);
      const stepGroup = new StepGroup(StepGroupType.ALGORITHM);
      stepGroup.setValue(value);
      stepGroup.setSteps(steps);
      EventBus.$emit('controlPlay', stepGroup);
    },
    removeValueEvent(value) {
      const valueArray = Array.isArray(value) ? value : [value];
      const stepGroupArray = [];
      if(!(this.isatStepsGroupEnd())&& valueArray.length>0){
          this.cutStepGroup();
        }
      for (const value of valueArray) {
        const steps = this.dataStructure.remove(value);
        const stepGroup = new StepGroup(StepGroupType.REMOVE);
        stepGroup.setOldDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setValue(value);
        stepGroup.setSteps(steps);
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroupArray.push(stepGroup);
        // this.removeValueFromStore(value);
      }

      EventBus.$emit('controlPlay', stepGroupArray);
    },
    animationStep(step) {
      step.forEach((action) => {
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        }
      });
    },
    createLinearList(action) {
      this.size = action.size;
    },
    setFillFactor(action) {
      this.fillFactor = (action.value*100).toFixed(2) + '%' ;
    },
    setHashCalculation(action) {
      this.hashCalculation = action.text;
    },
    loadValues(valueWrapper) {
      if (valueWrapper.type === ValueType.INTEGERS) {
        let steps = [];
        this.dataStructure = new DoubleHashing();
        steps.push(this.dataStructure.init(valueWrapper.k));
        valueWrapper.values.forEach((item) => {
          steps.push(this.dataStructure.insert(item));
        });
        this.loadStructure(steps);
        this.$store.commit('setCurrentValues', valueWrapper);
      }
    },
  },
  watch: {
    size(to) {
      this.setK(this.size);
      this.infoBoxes[0].title = `Size: ${to}`;
    },
    hashCalculation(to) {
      this.infoBoxes[1].title = `Hash Calculation: ${to}`;
    },
    fillFactor(to) {
      this.infoBoxes[2].title = `Fill Rate: ${to}`;
    },
  },
};
</script>

<style scoped>
  .outer {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .outer .controls {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }

  .outer .drawing-area {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
</style>
