<template>
  <div class="outer">
    <div class="controls">
      <InsertSearchRemoveInput :boxes="infoBoxes"/>
    </div>
    <div class="drawing-area">
      <HashTableVertical/>
    </div>
  </div>
</template>

<script>
import InsertSearchRemoveInput from '@/components/InsertSearchRemoveInput.vue';
import HashTable from '@/components/hashes/HashTableExtendibleHashing.vue';
import controlHandlers from '@/mixins/controlHandlers';
import dataStructureMixin from '@/mixins/dataStructureImportExportMixin';
import EventBus from '@/services/EventBus';
import StepGroup from '@/utils/StepGroup';
import StepGroupType from '@/utils/StepGroupType';
import ValueType from '@/utils/ValueType';
import { cloneDeep } from 'lodash';
import ExtendibleHashing from '../../algorithms/hashes/ExtendibleHashing';

export default {
  name: 'ExtendibleHashing',
  mixins: [controlHandlers, dataStructureMixin],
  components: {
    HashTableVertical: HashTable,
    InsertSearchRemoveInput,
  },
  data: () => ({
    infoBoxes: [
      {
        title: 'Bucket Size: N/A',
        subtitle: 'The size of the hash table indicates the maximum number of values the table can hold.',
      },
      {
        title: 'Hash Calculation: N/A',
        subtitle: 'The hash function used to calculate the position of an element.',
      },
      {
        title: 'Information:',
        subtitle: '',
      },
    ],
    dataStructure: null,
    bucketSize: null,
    information: '',
    hashCalculation: 'Hash Calculation: N/A',
  }),

  mounted() {
    this.information = 'Please set the bucket size or by default it will be 2.';
    this.registerListeners();
    this.init();
    // Events from InsertSearchRemoveInput
    EventBus.$on('setSize', this.setSizeEvent);
    EventBus.$on('insertValue', this.insertValueEvent);
    EventBus.$on('searchValue', this.searchValueEvent);
    EventBus.$on('removeValue', this.removeValueEvent);

    // Events from Animation
    EventBus.$on('animationStep', this.animationStep);
    EventBus.$on('loadValues', this.loadValues);
  },

  beforeDestroy() {
    this.unregisterListeners();
    // Events from InsertSearchRemoveInput
    EventBus.$off('setSize', this.setSizeEvent);
    EventBus.$off('insertValue', this.insertValueEvent);
    EventBus.$off('searchValue', this.searchValueEvent);
    EventBus.$off('removeValue', this.removeValueEvent);

    // Events from Animation
    EventBus.$off('animationStep', this.animationStep);
    EventBus.$off('loadValues', this.loadValues);
  },

  methods: {
    init() {
      this.dataStructure = new ExtendibleHashing();
      const defaultBucketSize = 3;
      const steps = this.dataStructure.init(defaultBucketSize);
      this.setK(defaultBucketSize);
      steps.forEach((step) => {
        EventBus.$emit('animationStep', step.do);
      });

      // Need to call bc is not called by animationStep with init
      this.updateInfoBox(steps[1].do[0]);
      this.information = 'Please set the bucket size or by default it will be 3.';
    },
    animationStep(step) {
      step.forEach((action) => {
        if (Object.hasOwnProperty.call(this, action.action)) {
          this[action.action](action);
        }
      });
    },
    setSizeEvent(size) {
      this.dataStructure = new ExtendibleHashing();
      const steps = this.dataStructure.init(size);
      steps.forEach((step) => {
        EventBus.$emit('animationStep', step.do);
      });
      this.hashCalculation = 'N/A';
      EventBus.$emit('controlReset');
      this.setK(size);
    },
    setHashCalculation(action) {
      if (action.value === null) {
        this.hashCalculation = 'N/A';
        return;
      }
      const inputValue = action.value;
      const binaryValue = action.binaryValue;
      const addressBinary = action.addressBinary;

      const endIndex = addressBinary.length;

      // Mark the part of binaryValue that corresponds to the length of addressBinary
      let coloredBinaryValue = '';
      for (let i = binaryValue.length - 1, count = 0; i >= 0 && count < endIndex; i -= 1, count += 1) {
        coloredBinaryValue = `<span style="color: green;">${binaryValue[i]}</span>${coloredBinaryValue}`;
      }
      // Leave the remaining characters of binaryValue unmarked
      for (let i = binaryValue.length - 1 - endIndex; i >= 0; i -= 1) {
        coloredBinaryValue = binaryValue[i] + coloredBinaryValue;
      }

      this.hashCalculation = `${inputValue} = ${coloredBinaryValue} -> <span style="color: green;">${addressBinary}</span>`;
    },
    updateInfoBox(action) {
      if (action.infoText !== null) this.information = action.infoText;
      if (action.bucketSize !== null) this.bucketSize = action.bucketSize;
      // this.information = action.text;
    },
    insertValueEvent(value) {
      const valueArray = Array.isArray(value) ? value : [value];
      const stepGroupArray = [];
      if (!(this.isatStepsGroupEnd()) && valueArray.length > 0) {
        this.cutStepGroup();
        if (this.isAtStepGroupStart()) {
          const INIT_VALUE = this.dataStructure.MAX_BUCKET_SIZE;
          this.dataStructure = new ExtendibleHashing();
          this.dataStructure.init(INIT_VALUE);
        }
      }
      for (const value of valueArray) {
        const steps = this.dataStructure.insert(value);
        const stepGroup = new StepGroup(StepGroupType.INSERT);
        stepGroup.setOldDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setValue(value);
        stepGroup.setSteps(steps);
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroupArray.push(stepGroup);
      }
      EventBus.$emit('controlPlay', stepGroupArray);
    },
    searchValueEvent(value) {
      if (!(this.isatStepsGroupEnd()) && value !== undefined) {
        this.cutStepGroup();
        if (this.isAtStepGroupStart()) {
          const INIT_VALUE = this.dataStructure.MAX_BUCKET_SIZE;
          this.dataStructure = new ExtendibleHashing();
          this.dataStructure.init(INIT_VALUE);
        }
      }
      const stepGroupArray = [];
      const steps = this.dataStructure.search(value);
      const stepGroup = new StepGroup(StepGroupType.ALGORITHM);
      stepGroup.setValue(value);
      stepGroup.setSteps(steps);
      stepGroup.setDataStructure(cloneDeep(this.dataStructure));
      stepGroupArray.push(stepGroup);

      EventBus.$emit('controlPlay', stepGroupArray);
    },
    removeValueEvent(value) {
      const valueArray = Array.isArray(value) ? value : [value];
      const stepGroupArray = [];
      if (!(this.isatStepsGroupEnd()) && valueArray.length > 0) {
        this.cutStepGroup();
        if (this.isAtStepGroupStart()) {
          const INIT_VALUE = this.dataStructure.MAX_BUCKET_SIZE;
          this.dataStructure = new ExtendibleHashing();
          this.dataStructure.init(INIT_VALUE);
        }
      }

      for (const value of valueArray) {
        const steps = this.dataStructure.remove(value);
        const stepGroup = new StepGroup(StepGroupType.REMOVE);
        stepGroup.setOldDataStructure(cloneDeep(this.dataStructure));
        stepGroup.setValue(value);
        stepGroup.setSteps(steps);
        stepGroup.setDataStructure(cloneDeep(this.dataStructure));
        stepGroupArray.push(stepGroup);
      }
      EventBus.$emit('controlPlay', stepGroupArray);
    },
    loadValues(valueWrapper) {
      if (valueWrapper.type === ValueType.INTEGERS) {
        this.dataStructure = new ExtendibleHashing();
        const steps = [];
        steps.push(this.dataStructure.init(valueWrapper.k));
        valueWrapper.values.forEach((item) => {
          steps.push(this.dataStructure.insert(item));
        });
        const stepGroup = new StepGroup(StepGroupType.INSERT);
        stepGroup.setSteps(steps);
        EventBus.$emit('controlPlay', steps);
        EventBus.$emit('controlGoToEnd');
        this.loadStructure(steps);
        this.$store.commit('setCurrentValues', valueWrapper);
      }
    },
  }, // END OF METHODS


  watch: {
    bucketSize(to) {
      this.infoBoxes[0].title = `Bucket Size: ${to}`;
    },
    information(to) {
      this.infoBoxes[2].subtitle = `${to}`;
    },
    hashCalculation(to) {
      this.infoBoxes[1].title = `Hash Calculation: ${to}`;
    },
  },
};
</script>

<style scoped>

</style>
